﻿@model Bell.Grok.Model.EditStandartViewModel

<script src="~/Scripts/editstandart-page.js" type="text/javascript"></script>

<div id="getStandartRows-url" data-url="@Url.Action("GetStandartRows", "DirectionSector")"></div>
<div id="setStandartRows-url" data-url="@Url.Action("SetStandartRows", "DirectionSector")"></div>
<div id="this-url" data-url="@Url.Action("Index", "DirectionSector")"></div>
<div id="modelId" data-value="@Model.Id"></div>
<div id="modelCode" data-value="@Model.Code"></div>
<div id="modelCanEdit" data-value="@Model.CanEdit"></div>
<div id="modelFilterBPAStandart" data-value="@Model.FilterBPAStandart"></div>
<div id="modelFilterMKTKStandart" data-value="@Model.FilterMKTKStandart"></div>

<h2>Ввод нормативов значений нормальной нагрузки</h2>

@using (@Html.BeginForm())
{
    <fieldset>
        <legend>Фильтр</legend>
        <table class="invisible-table">
            <tr>
                <td>MKTK</td>
                <td>БПА</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.FilterMKTKStandart, Model.AllMKTKStandartNames, new { @class = "ddList", data_bind = "value: filterMktk" })
                </td>
                <td>
                    @Html.DropDownListFor(model => model.FilterBPAStandart, Model.AllBPAStandartNames, new { @class = "ddList", data_bind = "value: filterBpa" })
                </td>
            </tr>
        </table>
    </fieldset>

    <div data-role="grid"
        data-auto-bind="false"
        data-bind="source: standartRowsSource, events: { change: onSelectionChange, dataBound: onDataBound }"
        data-resizable="true"
        data-sortable='{ "mode": "single", "allowUnsort": false }'
        data-pageable='{ "messages": 
                                        { "display": "{0} - {1} из {2}",
                                            "empty": "Нет элементов для отображения",
                                            "page": "Страница",
                                            "of": "из {0}",
                                            "itemsPerPage": "элементов на страницу",
                                            "first": "К первой странице",
                                            "previous": "К предыдущей странице",
                                            "next": "К следующей странице",
                                            "last": "К последней странице",
                                            "refresh": "Обновить" }
                                    }' 
        data-selectable="multiple cell"
        data-columns='[    
                                            { "field": "StationName", "title": "Станция", "sortable" : true},
                                            { "field": "MKTK", "title": "МКТК", "sortable" : true},
                                            { "field": "BPA", "title": "БПА", "sortable" : true },  
                                        ]'
        id="mainGrid">
    </div>
    if (Model.CanEdit)
    {
    <div>
        <input type="button" value="Выбор всех станций" class="k-button button-top-indent" data-bind="click: selectAll" />
        <input type="button" value="Изменить" class="k-button button-top-indent" data-bind="click: сhange" accesskey='n' />
    </div>
    }

    <div id="change-popup" class="parent-window">
        <div>
            Введите значение норматива нагрузки для выбранных станций:
        </div>
        <br />
        <input id="changeInput" type="text" data-role="numerictextbox" data-format="#" data-decimals="0" data-min="0" data-max="999999" data-bind="value: changeValue" style="width: 98%" />
        <br />
        <input type="button" value="Ок" class="k-button button-top-indent" data-bind="click: changeSubmit" style="width: 49%" />
        <input type="button" value="Отмена" class="k-button button-top-indent" data-bind="click: changeReject" style="width: 49%" />
    </div>
}
