﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Bell.Grok.Model.DirectionSectorViewModel

<script>
    var triggerActivateTab = function(selectedItem) {
        if (selectedItem.hasClass("timesheet-li")) {
            $(document).trigger("timesheetTabActivated");
            //Если скрипт с табелями ещё не прогрузился - то помечаем в разметке, 
            //что табели - по умолчанию активная вкладка
            $("#is-timesheet-tab-activated").attr("data-is-activated", "1");
        } else if (selectedItem.hasClass("proceed-plans-li")) {
            $(document).trigger("proceedPlansTabActivated");
            //Если скрипт с планами выручки ещё не прогрузился - то помечаем в разметке, 
            //что планы по выручке - по умолчанию активная вкладка
            $("#is-proceed-plans-activated").attr("data-is-activated", "1");
        } else if (selectedItem.hasClass("edit-standart-li")) {
            $(document).trigger("editStandartTabActivated");
            //Если скрипт с нормативами ещё не прогрузился - то помечаем в разметке, 
            //что нормативы - по умолчанию активная вкладка
            $("#is-edit-standart-activated").attr("data-is-activated", "1");
        }
    };

    $(document).ready(function () {
        var pageCode = $.urlParam("code");
        var directionSectorId = $.urlParam("id");

        $("#teller-tabstrip").kendoTabStrip({
            activate: function (e) {
                var selectedItem = $("#teller-tabstrip").data("kendoTabStrip").select();
                var currentIndex = selectedItem.index();                

                if (pageCode === "S") {
                    $.session.set('DirectionSectorTabStripCurrentIndex' + '-' + directionSectorId, currentIndex);
                }

                triggerActivateTab(selectedItem);
            }
        });
        
        var tabStrip = $("#teller-tabstrip").data("kendoTabStrip");
        if (tabStrip) {            
            var tabStripCurrentIndex = $.session.get('DirectionSectorTabStripCurrentIndex' + '-' + directionSectorId);

            if (tabStripCurrentIndex !== null &&
                tabStripCurrentIndex !== undefined) {
                tabStrip.select(tabStripCurrentIndex);
            } else if (tabStrip.items().length > 0) {
                tabStrip.select(0);
            }

            var savedSelectedItem = tabStrip.select();
            triggerActivateTab(savedSelectedItem);            
        }             
    });
</script>

<br />
<table class="invisible-table">
    <tr>
        <td class="label-text-aligment">
            @Html.LabelFor(model => model.DirectionName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.DirectionName, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
        </td>
    </tr>
    <tr>
        <td class="label-text-aligment">
            @Html.LabelFor(model => model.SectorName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.SectorName, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
        </td>
    </tr>
</table>
<br />

@if (Model.CanViewStandart || 
    (Model.SectorId.HasValue && Model.CanViewProceedsPlan) ||
    (Model.SectorId.HasValue && Model.CanViewTimesheets))
{
    <div id="teller-tabstrip" data-role="tabstrip" data-animation="false" data-bind="events:{ activate: tabStripActivateHandler}">
        <ul>
            @if (Model.CanViewStandart)
            {
                <li class="edit-standart-li k-state-active">Нормативные значения
                </li>
            }
            @if (Model.SectorId.HasValue && Model.CanViewProceedsPlan)
            {
                <li class="proceed-plans-li">Планы по выручке
                </li>
            }
            @if (Model.SectorId.HasValue && Model.CanViewTimesheets)
            {
                <li class="timesheet-li">Табель                    
                </li>
            }
        </ul>
        @if (Model.CanViewStandart)
        {
            <div>
                <div id="is-edit-standart-activated" data-is-activated="0"></div>
                @Html.Action("EditStandart", "DirectionSector", new { id = Model.Id, code = Model.Code, filterBpa = Model.FilterBPAStandart, filterMktk = Model.FilterMKTKStandart })
                <br />
            </div>
        }
        @if (Model.SectorId.HasValue && Model.CanViewProceedsPlan)
        {
            <div>
                <div id="is-proceed-plans-activated" data-is-activated="0"></div>
                @Html.Action("ProceedsPlansReview", "DirectionSector", new { sectorid = Model.SectorId.Value })
            </div>
        }
        @if (Model.SectorId.HasValue && Model.CanViewTimesheets)
        {
            <div>
                <div id="is-timesheet-tab-activated" data-is-activated="0"></div>
                @Html.Action("Timesheet", "DirectionSector", new { sectorid = Model.SectorId.Value })
            </div>            
        }
    </div>
}
