﻿<script src="~/Scripts/timesheet.js"></script>

<script id="editColumn" type="text/x-kendo-template">    
    <a class="delete-employee" style="margin-left: 5px;"><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a>
    # if(IsExistSchedule) { #        
        <input type="hidden" class="schedule-exists">
    # } else { #            
    # } #
</script>

<script id="generate-individual-timesheet-buttons" type="text/x-kendo-template">  
     <a class="generate-individual-prepayment k-button"><span>I половина</span></a>        
     <a class="generate-individual-full-timesheet k-button"><span>II половина</span></a>
     <a class="clear-individual-second-timesheet-part k-button"><span>Очистить II половину</span></a>  
</script> 

<script id="editFileColumn" type="text/x-kendo-template">
    <a class="viewFileButton" style="margin-left: 5px;"><img src="/Content/img/edit.png" alt="Просмотр" title="Просмотр"/></a> 
    <a class="deleteFileButton" style="margin-left: 5px;"><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a> 
</script>

<script type="text/x-kendo-template" id="timesheetDetailTemplate">    
    <div class="timesheet-days-grid"></div>
    <div>
        <div class="timesheet-payroll-grid" style="width: 30%; float: left"></div>
        <div class="timesheet-hooky-grid" style="width: 30%; float: left"></div>
    </div>
</script>

<style>
    a.k-state-active span.k-filter {
        background-image: url("/Content/img/kendo_sprite_active.png") !important;
    }
</style>

<div id="read-url" data-url="@Url.Action("GetTimesheets", "DirectionSector")"></div>
<div id="upload-file" data-url="@Url.Action("UploadFile", "DirectionSector")"></div>
<div id="get-files" data-url="@Url.Action("GetFiles", "DirectionSector")"></div>
<div id="check-timesheet-url" data-url="@Url.Action("IsTimesheetForMonth", "DirectionSector")"></div>
<div id="form-timesheet-url" data-url="@Url.Action("FormTimesheet", "DirectionSector")"></div>
<div id="load-file" data-url="@Url.Action("LoadFile", "DirectionSector")"></div>
<div id="remove-file" data-url="@Url.Action("RemoveFile", "DirectionSector")"></div>
<div id="generate-prepayment" data-url="@Url.Action("GeneratePrepayments", "DirectionSector")"></div>
<div id="generate-individual-prepayment" data-url="@Url.Action("GenerateIndividualPrepayments", "DirectionSector")"></div>
<div id="read-employees" data-url="@Url.Action("ReadEmployees", "Users", new { area = "Admin" })"></div>
<div id="add-employee-to-timesheet" data-url="@Url.Action("AddEmployee", "DirectionSector")"></div>
<div id="delete-employee-from-timesheet" data-url="@Url.Action("DeleteEmployee", "DirectionSector")"></div>
<div id="export-timesheets" data-url="@Url.Action("Export", "DirectionSector")"></div>
<div id="get-timesheet-details" data-url="@Url.Action("GetTimesheetDetails", "DirectionSector")"></div>
<div id="save-timesheet-details" data-url="@Url.Action("SaveTimesheetDetails", "DirectionSector")"></div>
<div id="get-timesheet-payrolls-or-hookies" data-url="@Url.Action("GetTimesheetPayrollsOrHookies", "DirectionSector")"></div>
<div id="clear-second-timesheet-part" data-url="@Url.Action("ClearSecondTimesheetparts", "DirectionSector")"></div>
<div id="clear-individual-timesheet-part" data-url="@Url.Action("ClearIndividualSecondTimesheetpart", "DirectionSector")"></div>
<div id="sector-id" data-value="@ViewBag.SectorId"></div>
<div id="are-buttons-visible" data-are-visible="@ViewBag.AreButtonsVisible"></div>
<div id="is-upload-button-visible" data-is-visible="@ViewBag.IsUploadButtonVisible"></div>
<div id="is-delete-upload-button-visible" data-is-visible="@ViewBag.IsDeleteUploadButtonVisible"></div>
<div id="max-request-length" data-length="@ViewBag.MaxRequestLength"></div>
<div id="current-timesheet-id" data-id="-1"></div>

<div id="change-mode-popup" style="display: none">
    <table class="invisible-table" width="100%">
        <tr>
            <td align="center">
                <div class="window-label-container">
                    <span class="window-label">Выберите режим заполнения табелей</span>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.RadioButton("GenerationDataMode", "Auto", new { @checked = "checked" })
                Автоматический    
                @Html.RadioButton("GenerationDataMode", "Manual")
                Ручной                
            </td>
        </tr>
        <tr>
            <td align="right">
                <input id="change-mode-button" class="k-button change-button-style" type="button" value="Ок" />
                <input id="change-mode-cancel-button" class="k-button button-left-indent" type="button" value="Отмена" />
            </td>
        </tr>
    </table>
</div>

<div id="employee-popup" style="display: none">
    <form id="employee-search-params">
        @Html.Label("Фамилия")
        @Html.TextBox("EmployeeLastName", string.Empty, new { @class = "k-textbox" })

        @Html.Label("Имя")
        @Html.TextBox("EmployeeFirstName", string.Empty, new { @class = "k-textbox" })

        @Html.Label("Отчество")
        @Html.TextBox("EmployeeMiddleName", string.Empty, new { @class = "k-textbox" })

        <input type="button" value="Найти" class="k-button button-vertical-indent" id="find-employee" />
    </form>
    <div id="employee-grid"></div>
    <input id="choose-employee" type="button" class="k-button k-state-disabled button-top-indent" value="Выбрать сотрудника" />
</div>

<div id="timesheet-container">
    <form id="timesheet-search-params">
        <div style="margin-top: 10px;">
            <input id="timesheet-month" name="timesheetMonth" />
            <input id="compile-timesheet-button" class="k-button" style="display: none;" type="button" value="Составить табель"/>            
        </div>
        <div style="margin-top: 10px;">
            <h4>@ViewBag.SectorName</h4>
        </div>
    </form>
    <h3>Табель учёта времени работы</h3>
    <div id="timesheets-grid">
    </div>
    <div id="buttons-container" style="margin-top: 15px;">
        <div id="buttons-observable-container" data-bind="visible: areButtonsVisible" style="float: left">
            <button id="generate-prepayment-button" class="k-button">I половина</button>
            <button id="generate-full-timesheet-button" class="k-button button-left-indent">II половина</button>
            <button id="clear-second-timesheet-part-button" class="k-button button-left-indent">Очистить II половину</button>
            <button id="add-employee" class="k-button button-left-indent">Добавить</button>             
        </div>  
        <div style="float: left">
            <button id="export-employee" data-bind="attr: { class: exportClasses }">Экспорт</button> 
        </div>        
    </div> 
    <div style="height: 25px;">        
    </div> 
    <div id="upload-container">
        <h4>Прикрепленые документы</h4>
        <div id="uploadedFiles"></div>        
        <input id="uploadButon" type="button" value="Загрузить" class="k-button" style="margin-top: 15px" data-bind="visible: isUploadButtonVisible"/>        
        <div id="uploadForm">
            <span>Название</span>
            <input id="uploadFileName" type="text" class="k-input k-textbox"/>
            <input id="uploader" name="file" type="file" />
        </div>
    </div>
</div>
