﻿@model Bell.Grok.Web.ViewModel.AddSchedulesViewModel
@{
    ViewBag.Title = "Добавление графика на " + @Model.MonthName + " " + @Model.Year + " года";
}

<script src="~/Scripts/add-schedule-page.js"></script>

<h2>Добавление графика на @Model.MonthName @Model.Year года</h2>

<div id="get-template-details-url" data-url="@Url.Action("ReadMonthScheduleTemplateDetails", "ScheduleTemplate")"></div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    
    @Html.HiddenFor(model => model.SectorId)
    @Html.HiddenFor(model => model.StationId)
    @Html.HiddenFor(model => model.Month)
    @Html.HiddenFor(model => model.Year)
    <table class="invisible-table addSchedules">
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.EmployeeId)
            </td>
            <td style="padding-left: 10px">
                @Html.DropDownListFor(model => model.EmployeeId, Model.AllEmployees, new { @class = "k-input k-textbox", style = "width: 500px;" })
            </td>
        </tr>
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.ScheduleTemlateId)
            </td>
            <td style="padding-left: 10px">
                @Html.DropDownListFor(model => model.ScheduleTemlateId, Model.AllScheduleTemlates, new { @class = "k-input k-textbox", style = "width: 500px" })
            </td>
        </tr>
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.TellerWindow)
            </td>
            <td style="padding-left: 10px">
                @Html.DropDownListFor(model => model.TellerWindow, Model.AllTellerWindows, new { @class = "k-input k-textbox", style = "width: 500px" })
            </td>
        </tr>
    </table>
    
    <div id="schedule-template-detailes-grid" style="margin-top: 20px; width: 100%">                
    </div>
    
    <button class="k-button button-top-indent">Добавить</button>
    @Html.ActionLink("Отмена", "Index", "Station", new { sectorId = Model.SectorId, stationId = Model.StationId }, new { @class = "k-button button-left-indent button-top-indent" })

}
