﻿@using Bell.Grok.Web.Services
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.default.min.css" rel="stylesheet" />

    <link href="~/Plugins/jquery-msg/jquery.msg.css" rel="stylesheet" type="text/css" />
    <link href="~/Plugins/jquery-loadmask-0.4/jquery.loadmask.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/cultures/kendo.culture.ru-RU.min.js")" type="text/javascript"></script>

    <script src="~/Plugins/jquery.pubsub/jquery.pubsub.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery-msg/jquery.center.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery-msg/jquery.msg.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.session/jquery.session.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.validate.hooks/jquery.validate.hooks.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.deserialize/jquery.deserialize.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery-loadmask-0.4/jquery.loadmask.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.scrollTo/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.parseparams/jquery.parseparams.js" type="text/javascript"></script>
    <script src="~/Plugins/jquery.fileDownload/jquery.fileDownload.js" type="text/javascript"></script>

    <script src="~/Scripts/menu.js" type="text/javascript"></script>
    <script src="~/Scripts/controller.js" type="text/javascript"></script>
    <script src="~/Scripts/json-status.js" type="text/javascript"></script>
    <script src="~/Scripts/schedule-status.js" type="text/javascript"></script>
    <script src="~/Scripts/utils.js" type="text/javascript"></script>
    <script src="~/Scripts/navigation-tree.js" type="text/javascript"></script>
    <script src="~/Scripts/validation-helper.js" type="text/javascript"></script>
    <script src="~/Scripts/numeric-text-box-title.js" type="text/javascript"></script>    
    <script src="~/Scripts/GrokExtention.js" type="text/javascript"></script>


    @RenderSection("Scripts", false)
    @IdleTimer.Register(SessingsService.GetIdleWaitTime())
    <script>
        //flag to check windows in unloading
        window.unloading = false;
        $(window).on('beforeunload', function () {
            window.unloading = true;
        });
    </script>
</head>
<body>
    <script type="text/javascript">
    </script>
    <div id="login-url" data-url="@Url.Action("Login", "Account")"></div>    
    <div id="is-user-authenticated" data-is-authenticated="@User.Identity.IsAuthenticated"></div>
    <div id="is-user-is-administrator" data-is-admin="@User.IsInRole("Администратор")"></div>
    <div id="current-controller" data-current-controller="@Request.RequestContext.RouteData.Values["controller"].ToString()"></div>
    <div id="page">
        <div id="header">
            <div>
                <span class="headerLogo">
                    <img src="~/Content/img/logo.png" />
                    <span>@Bell.Grok.Web.Resources.GROK.ProductVersion</span>
                </span>
                <div class="projectTitle">Система ГРОК</div>
                <div class="loginStatus">
                    @{ Html.RenderAction("LoginStatus", "Shared", new { area = "" }); }
                </div>
                <div id="menu-container">
                    <ul id="admin-menu" data-url="@Url.Action("GetActions", "Menu", new { area = "" })">
                    </ul>
                </div>
            </div>

            <div id="main">
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Администратор") &&
                     Request.RequestContext.RouteData.Values["controller"].ToString() != "ScheduleTemplate" &&
                     Request.RequestContext.RouteData.Values["controller"].ToString() != "WorkDepartmentUser")
                {
                    <div class="main-sidebar">
                        @{ Html.RenderAction("NavigationTree", "Shared", new { area = "" }); }
                    </div>
                    <div class="main-workspace">
                        @RenderBody()
                    </div>
                }
                else
                {
                    @RenderBody()
                }
            </div>
            <div id="footer">
                Все права защищены: Bell Integrator &copy; 2013
            </div>
        </div>
    </div>
</body>
</html>
