﻿<div id="logindisplay">
@if (User.Identity.IsAuthenticated)
{
    <span class="logindisplay-link">@User.Identity.Name</span>
    <a id="logout-link" href="@Url.RouteUrl("Logout")">Выход</a>
}
else
{ 
    <a href="@Url.RouteUrl("Login")">Войти</a>
}
</div>