﻿@model Bell.Grok.Web.ViewModel.NavigationTreeModel
<div id="direction-tree">
    <div id="selected-node-unified-tree-id" data-unified-id="@Session["SelectedNode"]"></div>
    <div id="parent-node-unified-tree-id" data-unified-id="@Session["ParentNode"]"></div>
    <div></div>

    <div id="get-directions-url" data-get-directions-url="@Url.Action("ReadDirections", "Home")"></div>
    <div id="get-sectors-url" data-get-sectors-url="@Url.Action("ReadSectors", "Home")"></div>
    <div id="get-sectors-structure-url" data-get-sectors-structure-url="@Url.Action("ReadSectorStructure", "Home")"></div>
    <div id="get-stations-url" data-get-stations-url="@Url.Action("ReadStationsAndCashiersCharacters", "Home")"></div>
    <div id="get-home-after-change-date-url" data-home-after-change-date-url="@Url.Action("IndexAfterDateChange", "Home")"></div>
    <div id="get-cashiers-url" data-get-cashiers-url="@Url.Action("ReadCashiers", "Home")"></div>
    <div id="index-url" data-url="@Url.Action("Index", "Home")"></div>
    <div id="cashier-contract-datepicker-container">
        <div id="current-date" data-date="@Session["CurrentDate"]"></div>
        <span>Данные на </span>
        <input id="cashier-contract-datepicker" value="" style="width: 150px;" />
        <br/>
        <br/>
        @if (Model.FilterEnabled)
        {
            <div>
                <div>Фильтр по статусам расписаний</div>
                @Html.ListBoxFor(model => model.ScheduleStatus, Model.ScheduleStatuses, new {style="width:212px;"})
            </div>
        }
        <br/>
    </div>
    Направления |    
    <div id="treeview" class="ie9-scroll-fix"></div>
    @if (Model.FilterEnabled)
    {
        <script>
            $('#ScheduleStatus').kendoMultiSelect();

            var multiselectSpecializations = $("#ScheduleStatus").data("kendoMultiSelect");
            multiselectSpecializations.bind("change", function (e) {
                var result = $("#index-url").attr("data-url");
                var ids = $("#ScheduleStatus").data("kendoMultiSelect").value();
                if (ids.length > 0) {
                    result = result + "?";
                    for (var i = 0; i < ids.length - 1; i++) {
                        result = result + "scheduleStatuses=" + ids[i] + "&";
                    }
                    result = result + "scheduleStatuses=" + ids[ids.length - 1];
                }
                window.location.href = result;
            });

        </script>
    }
</div>
