﻿@model Bell.Grok.Web.ViewModel.TerminalToTellerWindowViewModel

@{
    ViewBag.Title = "AddTerminalToTellerWindow";
}

@section Scripts
{
    <script src="~/Scripts/terminal-to-teller-window-page.js"></script>
}

<h2>Привязка терминала к кассовому окну</h2>

@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.SectorStationTerminalId)
    @Html.HiddenFor(model => model.SectorId)
    @Html.HiddenFor(model => model.StationId)
    @Html.HiddenFor(model => model.CurrentDate)
    @Html.HiddenFor(model => model.TerminalProfile)
    @Html.ValidationSummary(true)
    
    <table class="invisible-table global-left-indent">
        <tr>
            <td>
                <table class="invisible-table">
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.TerminalNumber)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.TerminalNumber, new { @class = "k-input k-textbox", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.TellerWindow)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.TellerWindow, Model.AllTellerWindowsNumbers, new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.TellerWindow)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                             @Html.LabelFor(model => model.BeginDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.BeginDate, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.BeginDate)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EndDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EndDate, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="top-indent">
                    <input type="submit" value="Сохранить" class="k-button top-indent"/>
                    @Html.ActionLink("Отмена", "Index", "Station", new { sectorId = Model.SectorId, stationId = Model.StationId, currentDate = Model.CurrentDate }, new { @class = "k-button button-left-indent top-indent " })
                </div>
            </td>
        </tr>
    </table>    
}
