﻿@model Bell.Grok.Web.ViewModel.TerminalCreateViewModel

@{
    ViewBag.Title = "CreateTerminal";
}

@section Scripts
{
    <script src="~/Scripts/create-terminal-page.js"></script>
}

<div id="terminal-type-marks-url" data-url="@Url.Action("GetTerminalTypeMarks", "Station")"></div>
<div id="terminal-get-info" data-url="@Url.Action("GetTerminalInfo", "Terminal")"></div>
<div id="current-model" data-model="" data-is-actual="false"></div>
<div id="is-after-error" data-is-after-error="@ViewBag.IsAfterError"></div>

<h2>Создание терминала</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SectorId)
    @Html.HiddenFor(model => model.StationId)
    @Html.HiddenFor(model => model.CurrentDate)    
    
    <div id="validationSummary">
        @Html.ValidationSummary(true)
    </div>
    
    <table class="invisible-table global-left-indent">
        <tr>
            <td>
                <table class="invisible-table">
                    <tr>
                        <td class="label-text-aligment" style="width: 100px">
                            @Html.LabelFor(model => model.Number)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Number, new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.Number) 
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.BeginTime)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.BeginTime, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.BeginTime)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EndTime)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EndTime, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.EndTime)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Type)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Type, Model.AllTypes, "--Выберите--", new { @class = "k-input k-textbox", data_bind = "events:{ change: typeChange}" })
                            @Html.ValidationMessageFor(model => model.Type)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Mark)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Mark, Model.AllMarks, new { @class = "k-input k-textbox", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Mark)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Profile)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Profile, Model.AllProfiles, "--Выберите--", new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.Profile)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Status)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Status, Model.AllStatuses, "--Выберите--", new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Purpose)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Purpose, Model.AllPurposes, "--Выберите--", new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.Purpose)
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Agent)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Agent, Model.AllAgents, "--Выберите--", new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.Agent)
                        </td>
                    </tr>                    
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.Label("Расположение")
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.PlacementName, Model.AllPlacements, "--Выберите--", new { @class = "k-input k-textbox" })                        
                            @Html.TextBoxFor(model => model.PlacementNumericValue, new { data_role = "numerictextbox", data_format = "#", data_decimals = "0", data_min = "1", data_max = "20", data_value = "" })                        
                            @Html.TextBoxFor(model => model.PlacementComment, new { @class = "k-input k-textbox" })
                            @Html.ValidationMessageFor(model => model.PlacementName)        
                        </td>                        
                    </tr>
                    <tr style="display: none">
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Comment)
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Comment, new { cols = 25, rows = 5 })
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="top-indent">
                    <input type="button" id="next-button" value="Далее" class="k-button button-top-indent" data-bind="events: { click: nextPressed }"/>
                    <input type="submit" value="Сохранить" class="k-button button-top-indent" data-bind="events: { click: submitPressed }" style="display: none" />
                    @Html.ActionLink("Отмена", "Index", "Station", new { sectorId = Model.SectorId, stationId = Model.StationId, currentDate = Model.CurrentDate}, new { @class = "k-button button-left-indent button-top-indent"})
                </div>
            </td>
        </tr>
    </table>    
    
    <div class="mandatory-fields-illustration">
        <span>Поля, отмеченные *, обязательны для заполнения</span>
    </div>
}
