﻿@using System.Globalization
@model Bell.Grok.Web.ViewModel.TellerWindowEditViewModel

@{
    ViewBag.Title = "EditTellerWindow";
}

@section Scripts
{
    @* ReSharper disable ReturnValueOfPureMethodIsNotUsed *@
    <script>

        //Период работы
        var modelOperationPeriod = [
            @if ((Model != null) && (Model.OperationPeriods != null))
            {
                foreach (var operationPerion in Model.OperationPeriods)
                {
                    @Html.Raw(string.Format("kendo.observable({{id:{0},beginDate: '{1}', endDate: '{2}',shiftnessId: '{3}',shiftness:'',",
                                            operationPerion.Id,
                                            operationPerion.BeginDate,
                                            operationPerion.EndDate,
                                            operationPerion.ShiftnessId))
                    //Рабочее время
                    @Html.Raw("workTimes: new kendo.data.ObservableArray([")
                    foreach (var workTimes in operationPerion.WorkTimes)
                    {
                        @Html.Raw("[")
                        foreach (var workTime in workTimes)
                        {
                            @Html.Raw(string.Format("kendo.observable({{id: {0},beginTime: '{1}',endTime: '{2}'}}),", workTime.Id, workTime.BeginTime, workTime.EndTime))
                        }
                        @Html.Raw("],")
                    }
                    @Html.Raw("]),")
                    //Перерывы по дням недели
                    @Html.Raw("breakTimes: new kendo.data.ObservableArray([")
                    foreach (var breakTimes in operationPerion.BreakTimes)
                    {
                        @Html.Raw("[")
                        foreach (var breakTime in breakTimes)
                        {
                            @Html.Raw(string.Format("kendo.observable({{id: {0},beginTime: '{1}',endTime: '{2}',breakId:{3}}}),",
                                                    breakTime.Id, breakTime.BeginTime, breakTime.EndTime, breakTime.BreakId))
                        }
                        @Html.Raw("],")
                    }
                    @Html.Raw("]),")
                    @Html.Raw("}),")
                }
            }
        ];
        
        //Режимы работы кассовых окон
        var modelShiftnessTexts = [
            @foreach (var shift in Model.AllTellerWindowShiftnesses)
            {
                @Html.Raw(string.Format("{{ value:{0},text:'{1}' }},", shift.Value, shift.Text))
            }
        ];
        //Типы перерывов
        var modelBreakTexts = [
            @foreach (var shift in Model.AllTellerWindowBreakes)
            {
                @Html.Raw(string.Format("{{ value:{0},text:'{1}' }},", shift.Value, shift.Text))
            }
        ];


        
    </script>
    <script src="~/Scripts/editTellerWindow-page.js" type="text/javascript"></script>    
}

<h2>@(Model.IsNew ? "Создание кассового окна" : "Редактирование кассового окна")</h2>
<div id="modelIsNew" data-value="@Model.IsNew.ToString().ToLower()"></div>

@if (!Model.IsNew)
{
    <script src="~/Scripts/terminals-in-teller-window-check.js" type="text/javascript"></script>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TellerWindowId)
    @Html.HiddenFor(model => model.SectorId)
    @Html.HiddenFor(model => model.StationId)
    @Html.HiddenFor(model => model.CurrentDate)
    @Html.HiddenFor(model => model.IsNew)
    @Html.HiddenFor(model => model.SetTerminalsListString)    
    @Html.HiddenFor(model => model.OldProfile)

    @Html.ValidationSummary(true)

    <table class="invisible-table global-left-indent">  
        <tr>
            <td>
                <table class="invisible-table">
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Number)
                        </td>
                        <td>
                            @if (Model.IsNew)
                            {
                                @Html.TextBoxFor(model => model.Number, new { data_role = "numerictextbox", data_format = "#", data_decimals = "0", data_min = "1", data_max = "255", data_value = "" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Number, new { data_role = "numerictextbox", data_format = "#", data_decimals = "0", data_min = "1", data_max = "255", @readonly = "readonly" })
                            }
                            @Html.ValidationMessageFor(model => model.Number)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="specializations-label">
                                @Html.LabelFor(model => model.Specializations)
                                <span class="mandatory-field-asterisk">*</span>
                            </div>

                        </td>
                        <td colspan="2">
                            <div class="specializations-select">
                                @Html.ListBoxFor(model => model.Specializations, Model.AllSpecializations, new { data_role = "multiselect" })
                            </div>
                            <div class="specializations-validation-span">
                                @Html.ValidationMessageFor(model => model.Specializations)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tableFieldSetBorder tableFieldSetTitle">Расположение
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PlacementName)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @if (Model.IsNew)
                            {
                                @Html.DropDownListFor(model => model.PlacementName, Model.AllPlacementNames, "--Выберите--", new { @class = "k-input k-textbox" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.PlacementName, Model.AllPlacementNames, new { @class = "k-input k-textbox" })
                            }
                            @Html.ValidationMessageFor(model => model.PlacementName)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PlacementNumericValue)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.PlacementNumericValue, new { data_role = "numerictextbox", data_format = "#", data_decimals = "0", data_min = "1", data_max = "20" })
                            @Html.ValidationMessageFor(model => model.PlacementNumericValue)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PlacementComment)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.PlacementComment, new { @class = "k-input k-textbox" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="tableFieldSetBorder"></td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Profile)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Profile, Model.AllProfiles, "--Выберите--", new { @class = "k-input k-textbox" })
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Status)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @if (Model.IsNew)
                            {
                                @Html.DropDownListFor(model => model.Status, Model.AllStatuses, "--Выберите--", new { @class = "k-input k-textbox" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Status, Model.AllStatuses, new { @class = "k-input k-textbox" })
                            }
                            @Html.ValidationMessageFor(model => model.Status)
                        </td>
                        <td rowspan="5">
                            <div id="optionally-panel">
                                <fieldset>
                                    <legend>@Html.Label("Режимы работы")</legend>
                                    <div>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="hidden"></th>
                                                    <th>Дата начала</th>
                                                    <th>Дата конца</th>
                                                    <th>Режим</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody data-template="row-operationPeriod-template" data-bind="source: operationPeriods"></tbody>
                                            <script id="row-operationPeriod-template" type="text/x-kendo-template">
                                                <tr>
                                                    <td class="hidden" data-bind="text: id">
                                                    </td>
                                                    <td data-bind="text: beginDate">
                                                    </td>
                                                    <td data-bind="text: endDate">
                                                    </td>
                                                    <td data-bind="text: shiftness"></td>
                                                    <td>
                                                        <button type="button" data-bind="click: detailOperationPeriod">Редактировать</button>
                                                        <button type="button" data-bind="click: deleteOperationPeriod">Удалить</button>
                                                    </td>
                                                </tr>
                                            </script>
                                        </table>
                                        <button type="button" data-bind="click: addOperationPeriod, invisible:currentVisible">Добавить</button>
                                    </div>
                                    <div id="operationPeriodDetailPanel" data-bind="visible:currentVisible">
                                        <fieldset>
                                            <legend data-bind="html:currentLegend"></legend>
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="error-message" data-bind="visible:isOperationPeriodError, html:operationPeriodError">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>C                            
                                                            <span class="mandatory-field-asterisk">*</span>
                                                    </td>
                                                    <td>
                                                        <input placeholder="Введити дату начала" data-role="datepicker" data-bind="value: currentBeginDate" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>По
                                                            <span class="mandatory-field-asterisk" data-bind="visible:isOperationPeriodEndNeeded">*</span>
                                                    </td>
                                                    <td>
                                                        <input placeholder="Введите дату конца" data-role="datepicker" data-bind="value: currentEndDate" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Режим
                                                    </td>
                                                    <td>
                                                        @Html.DropDownList(Model.AllTellerWindowShiftnesses[0].Text, Model.AllTellerWindowShiftnesses, new { @class = "k-input k-textbox", data_bind = "value: currentShiftness" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <table>
                                                            <tr>
                                                                <td rowspan="2">Понедельник</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[0]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[0]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Вторник</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[1]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[1]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Среда</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[2]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[2]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Четверг</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[3]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[3]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Пятница</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[4]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[4]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Суббота</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[5]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[5]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Воскресенье</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[6]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[6]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="2">Праздники</td>
                                                                <td>время работы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-workTime-template" data-bind="source: currentWorkTimes[7]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>перерывы</td>
                                                                <td>
                                                                    <table>
                                                                        <tbody data-template="row-breakTime-template" data-bind="source: currentBreakTimes[7]"></tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <script id="row-workTime-template" type="text/x-kendo-template">
                                                        <tr>
                                                            <td class="hidden" data-bind="text: id">
                                                            </td>
                                                            <td data-bind="text: beginTime">
                                                            </td>
                                                            <td data-bind="text: endTime">
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <button type="button" data-bind="click: detailWorkTime">Редактировать</button>
                                                                <button type="button" data-bind="click: deleteWorkTime">Удалить</button>
                                                            </td>
                                                        </tr>
                                                        </script>
                                                        <script id="row-breakTime-template" type="text/x-kendo-template">
                                                        <tr>
                                                            <td class="hidden" data-bind="text: id">
                                                            </td>
                                                            <td data-bind="text: beginTime">
                                                            </td>
                                                            <td data-bind="text: endTime">
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <button type="button" data-bind="click: detailBreakTime">Редактировать</button>
                                                                <button type="button" data-bind="click: deleteBreakTime">Удалить</button>
                                                            </td>
                                                        </tr>
                                                        </script>
                                                        <div data-bind="visible:currentWorkTimeVisible">
                                                            <fieldset>
                                                                <legend data-bind="html:currentOperationPeriodLegend"></legend>
                                                                <div>
                                                                    @Html.DropDownList(Model.AllWeekDays[0].Text, Model.AllWeekDays, new { @class = "k-input k-textbox", data_bind = "value: currentWeekDay" })
                                                                </div>
                                                                <div class="error-message" data-bind="visible:isTimeError, html:timeError">
                                                                </div>
                                                                <div>
                                                                    <input id="workTime-timepicker-begin" class="lower-limit" data-role="timepicker" data-bind="value:currentBeginTime" />
                                                                    <span>-</span>
                                                                    <input id="workTime-timepicker-end" class="upper-limit" data-role="timepicker" data-bind="value:currentEndTime" />
                                                                    <span class="error-message"></span>
                                                                </div>
                                                                <div>
                                                                    <button type="button" data-bind="click: detailWorkTimeSubmit">Ок</button>
                                                                    <button type="button" data-bind="click: cancelOperationTime">Отмена</button>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div data-bind="visible:currentBreakTimeVisible">
                                                            <fieldset>
                                                                <legend data-bind="html:currentOperationPeriodLegend"></legend>
                                                                <div>
                                                                    @Html.DropDownList(Model.AllWeekDays[0].Text, Model.AllWeekDays, new { @class = "k-input k-textbox", data_bind = "value: currentWeekDay" })
                                                                </div>
                                                                <div class="error-message" data-bind="visible:isTimeError, html:timeError">
                                                                </div>
                                                                <div>
                                                                    <input id="breakTime-timepicker-begin" class="lower-limit" data-role="timepicker" data-bind="value:currentBeginTime" />
                                                                    <span>-</span>
                                                                    <input id="breakTime-timepicker-end" class="upper-limit" data-role="timepicker" data-bind="value:currentEndTime" />
                                                                    <span class="error-message"></span>
                                                                </div>
                                                                <div>
                                                                    @Html.DropDownList(Model.AllTellerWindowBreakes[0].Text, Model.AllTellerWindowBreakes, new { @class = "k-input k-textbox", data_bind = "value: currentBreak" })
                                                                </div>
                                                                <div>
                                                                    <button type="button" data-bind="click: detailBreakTimeSubmit">Ок</button>
                                                                    <button type="button" data-bind="click: cancelOperationTime">Отмена</button>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr data-bind="visible: currentOperationPeriodButtonVisible">
                                                    <td colspan="2">
                                                        <button type="button" data-bind="click: addWorkTime">Добавить рабочее время</button>
                                                        <button type="button" data-bind="click: addBreakTime">Добавить перерыв</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="button" data-bind="click: detailOperationPeriodSubmit">Ок</button>
                                                        <button type="button" data-bind="click: cancelOperationPeriod">Отмена</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PaymentMethod)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @if (Model.IsNew)
                            {
                                @Html.DropDownListFor(model => model.PaymentMethod, Model.AllPaymentMethods, "--Выберите--", new { @class = "k-input k-textbox" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.PaymentMethod, Model.AllPaymentMethods, new { @class = "k-input k-textbox" })
                            }
                            @Html.ValidationMessageFor(model => model.PaymentMethod)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.BeginTime)
                            <span class="mandatory-field-asterisk">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.BeginTime, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.BeginTime)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EndTime)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EndTime, new { data_role = "datepicker" })
                            @Html.ValidationMessageFor(model => model.EndTime)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Comment)
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Comment, new { cols = 25, rows = 5 })
                        </td>
                    </tr>                    
                    <tr class="hidden">
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.OperationPeriodsData)
                        </td>
                    </tr>                    
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="top-indent">
                    <input type="submit" value="Сохранить" class="k-button button-top-indent" data-bind="click: saveTellerWindow" />
                    @Html.ActionLink("Отмена", "Index", "Station", new { sectorId = Model.SectorId, stationId = Model.StationId, currentDate = Model.CurrentDate }, new { @class = "k-button button-left-indent button-top-indent" })
                </div>
            </td>
        </tr>
    </table>

    <div class="mandatory-fields-illustration">
        <span>Поля, отмеченные *, обязательны для заполнения</span>
    </div>
}

