﻿@model Bell.Grok.Web.ViewModel.StationPassportViewModel

@{
    ViewBag.Title = "Index";
}

@section Scripts
{    
    <script src="~/Scripts/station-page.js" type="text/javascript"></script>        
    <script src="~/Scripts/case-insensitive-comparer.js" type="text/javascript"></script>

    <script id="buttonColumn" type="text/x-kendo-template">       
        <a style="margin-left: 10px;" href="#=EditUrl#"><img src="/Content/img/edit.png" alt="Редактировать" title="Редактировать"/></a>        
        <a style="margin-left: 20px;" data-bind="events:{ click: tellerWindowDeleteListener }"><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a>         
    </script>
    
    <script id="tellerWindowGridToolbar" type="text/x-kendo-template">
        <a class="k-button k-button-icontext k-grid-add" href="@Url.Action("EditTellerWindow", "Station", new { currentDate = ViewBag.CurrentDate })"><span class="k-icon k-add"></span>Добавить</a>
    </script>

    <script id="terminalButtonColumn" type="text/x-kendo-template">       
        <a style="margin-left: 10px;" href="#=EditUrl#" data-bind="events:{ mouseover: mouseOverEditTerminalListener, mouseout: mouseOutEditTerminalListener}"><img src="/Content/img/edit.png" alt="Редактировать" title="Редактировать"/></a>        
    </script>
    
    <script id="terminalGridToolbar" type="text/x-kendo-template">
        <a class="k-button k-button-icontext k-grid-add" href="@Url.Action("CreateTerminal", "Station", new { currentDate = ViewBag.CurrentDate })"><span class="k-icon k-add"></span>Добавить</a>
    </script>

    <script id="tellerWindowTerminalButtonColumn" type="text/x-kendo-template">       
        <a style="margin-left: 10px;" href="#=EditUrl#"><img src="/Content/img/edit.png" alt="Редактировать" title="Редактировать"/></a>
        <a style="margin-left: 20px;" data-bind="events:{ click: tellerWindowTerminalDeleteListener }"><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a>     
    </script>
    
    <script id="tellerWindowTerminalGridToolbar" type="text/x-kendo-template">
        <a id="add-terminal-to-teller-window" class="k-button k-button-icontext k-grid-add k-state-disabled" disabled="disabled"><span class="k-icon k-add"></span>Добавить</a>
    </script>

    <script id="approvalStatusColumn" type="text/x-kendo-template">
        <span>#=ApprovalStatus#</span>
        <div data-approval-status-id="#=ApprovalStatusId#"></div>
    </script>

    <script id="scheduleButtonColumn" type="text/x-kendo-template">
        <a class="scheduleDeleteButton" style="margin-left: 5px;" data-bind="events:{ click: scheduleDeleteListener }"><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a> 
    </script>

    <script>
        function splitList(value) {
            return value.replace(new RegExp(",", 'g'), "<br/>");
        }
    </script>

    <script>
        function buildScheduleDetailDayCell(hours, nightHours, dayType, isSplitted) {
            var result = "<table>";
            result += dayType === null || dayType === undefined || dayType === ""
                ? "<tr>" + "<td align=\"center\">" + "&nbsp;" + "</td>" + "</tr>"
                : "<tr>" + "<td align=\"center\">" + dayType + "</td>" + "</tr>";

            if (dayType === "") {
                result += hours === null || hours === undefined
                    ? "<tr>" + "<td align=\"center\">" + "0" + "</td>" + "</tr>"
                    : "<tr>" + "<td align=\"center\">" + hours + "</td>" + "</tr>";
                result += nightHours === null || nightHours === undefined
                    ? "<tr>" + "<td align=\"center\">" + "0" + "</td>" + "</tr>"
                    : "<tr>" + "<td align=\"center\">" + nightHours + "</td>" + "</tr>";
            } else {
                result += hours === null || hours === undefined || hours === 0
                    ? "<tr>" + "<td align=\"center\">" + "&nbsp;" + "</td>" + "</tr>"
                    : "<tr>" + "<td align=\"center\">" + hours + "</td>" + "</tr>";
                result += nightHours === null || nightHours === undefined || nightHours === 0
                    ? "<tr>" + "<td align=\"center\">" + "&nbsp;" + "</td>" + "</tr>"
                    : "<tr>" + "<td align=\"center\">" + nightHours + "</td>" + "</tr>";
            }

            result += isSplitted === null || isSplitted === undefined || isSplitted === ""
                ? "<tr>" + "<td align=\"center\">" + "&nbsp;" + "</td>" + "</tr>"
                : "<tr>" + "<td align=\"center\">" + isSplitted + "</td>" + "</tr>";

            result += "</table>";

            return result;
        }
    </script>    
}

<h2>Паспорт станции</h2>

<div id="cash-boxes-url" data-url="@Url.Action("ReadCashBoxes", "Station", new { sectorId = ViewBag.SectorId, stationId = ViewBag.StationId, currentDate = ViewBag.CurrentDate })"></div>
<div id="terminals-url" data-url="@Url.Action("ReadTerminals", "Station", new { sectorId = ViewBag.SectorId, stationId = ViewBag.StationId, currentDate = ViewBag.CurrentDate })"></div>
<div id="schedules-url" data-url="@Url.Action("GetAllSchedules", "Schedule")"></div>
<div id="tellerWindowSchedules-url" data-url="@Url.Action("GetAllTellerWindowSchedules", "Schedule")"></div>
<div id="addSchedule-url" data-url="@Url.Action("AddShedules", "Schedule", new { sectorId = ViewBag.SectorId, stationId = ViewBag.StationId })"></div>
<div id="delete-schedule-url" data-url="@Url.Action("DeleteSchedule", "Schedule")"></div>
<div id="send-to-reconcile-schedule-url" data-url="@Url.Action("SendScheduleToReconcile", "Schedule")"></div>
<div id="cancel-reconcile-schedule-url" data-url="@Url.Action("CancelReconcileSchedule", "Schedule")"></div>
<div id="confirm-reconcile-schedule-by-section-chief" data-url="@Url.Action("ConfirmReconcileScheduleBySectionChief", "Schedule")"></div>
<div id="confirm-schedule-reconcile-by-professional-group-orginizer" data-url="@Url.Action("ConfirmReconcileByProfessionalGroupOrginizer", "Schedule")"></div>
<div id="delete-teller-window-url" data-url="@Url.Action("DeleteTellerWindow", "Station")"></div>
<div id="delete-sector-station-terminal-url" data-url="@Url.Action("DeleteSectorStationTerminal", "Station")"></div>
<div id="delete-teller-window-terminal-url" data-url="@Url.Action("DeleteTellerWindowTerminal", "Station")"></div>
<div id="add-terminal-to-teller-window-url" data-url="@Url.Action("AddTerminalToTellerWindow", "Station")"></div>
<div id="terminal-in-teller-window-url" data-url="@Url.Action("ReadTerminalInTellerWindow", "Station", new { sectorId = ViewBag.SectorId, stationId = ViewBag.StationId, currentDate = ViewBag.CurrentDate })"></div>
<div id="current-sector-station-terminal-id" data-current-sector-station-terminal-id=""></div>
<div id="are-buttons-disabled" data-are-disabled="@ViewBag.AreButtonsDisabled"></div>
<div id="are-add-schedule-buttons-enabled" data-are-enabled="@ViewBag.AreAddScheduleButtonsEnabled"></div>
<div id="are-delete-schedule-buttons-enabled" data-are-enabled="@ViewBag.AreDeleteScheduleButtonsEnabled"></div>
<div id="are-send-reconcile-schedule-buttons-enabled" data-are-enabled="@ViewBag.AreSendReconcileScheduleButtonsEnabled"></div>
<div id="are-cancel-reconcile-schedule-buttons-enabled" data-are-enabled="@ViewBag.AreCancelReconcileScheduleButtonsEnabled"></div>
<div id="is-user-sector-chief" data-is-in-role="@ViewBag.IsUserSectorChief"></div>
<div id="is-user-prof-group-organizator" data-is-in-role="@ViewBag.IsUserProfGroupOrganizator"></div>
<div id="is-teller-windows-tab-visible" data-is-visible="@ViewBag.IsTellerWindowsTabVisible"></div>
<div id="is-terminals-tab-visible" data-is-visible="@ViewBag.IsTerminalsTabVisible"></div>
<div id="is-schedule-tab-visible" data-is-visible="@ViewBag.IsScheduleTabVisible"></div>
<div id="is-proceeds-plans-grid-editable" data-is-editable="@ViewBag.IsProceedsPlansGridEditable"></div>
<div id="is-proceeds-plans-tab-visible" data-is-visible="@ViewBag.IsProceedsPlansTabVisible"></div>
<div id="is-employee-shift-schedule-tab-visible" data-is-visible="@ViewBag.IsEmployeeShiftScheduleTabVisible"></div>
<div id="current-date-str" data-date="@ViewBag.CurrentDate"></div>
<div id="model-year" data-value="@Model.Year"></div>
<div id="model-month" data-value="@Model.Month"></div>
<div id="sector-id" data-value="@ViewBag.SectorId"></div>
<div id="station-id" data-value="@ViewBag.StationId"></div>
<div id="sector-station-id" data-value="@ViewBag.SectorStationId"></div>
<div id="export-url" data-url="@Url.Action("Export", "Schedule")"></div>
<div id="read-proceeds-plan-url" data-url="@Url.Action("ReadProceedsPlans", "ProceedsPlan")"></div>
<div id="update-proceeds-plan-url" data-url="@Url.Action("UpdateProceedsPlan", "ProceedsPlan")"></div>
<div id="teller-window-schedules-read-url" data-url="@Url.Action("ReadTellerWindowSchedules", "TellerWindowSchedule")"></div>
<div id="teller-window-schedule-create-url" data-url="@Url.Action("CreateTellerWindowSchedule", "TellerWindowSchedule")"></div>
<div id="teller-window-schedule-edit-url" data-url="@Url.Action("TellerWindowSchedulesEdit", "Station")"></div>
<div id="current-url" data-url="@ViewBag.CurrentUrl"></div>

@using (Html.BeginForm())
{
    <table class="invisible-table" style="margin-bottom: 20px;">
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.StationNumber)
            </td>
            <td>
                @Html.TextBoxFor(model => model.StationNumber, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
            </td>
            <td class="label-text-aligment" style="padding-left: 20px">
                @Html.LabelFor(model => model.DirectionName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DirectionName, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.StationName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.StationName, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
            </td>
            <td class="label-text-aligment" style="padding-left: 20px">
                @Html.LabelFor(model => model.SectorName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SectorName, new { @class = "k-input k-textbox k-state-disabled", disabled = "disabled" })
            </td>
        </tr>        
    </table>
}

<div id="station-passport-info" class="k-content">
    <div id="teller-tabstrip" data-role="tabstrip" data-animation="false" data-bind="events:{ activate: tabStripActivateHandler}">
        <ul>
            @if (ViewBag.IsTellerWindowsTabVisible)
            {
                <li class="teller-window-li k-state-active">
                    <span class="tab-header-text">Кассовые окна</span>
                    <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
                </li>
            }
            @if (ViewBag.IsTerminalsTabVisible)
            {
                <li class="terminal-li">
                    <span class="tab-header-text">ККТ</span>
                    <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
                </li>
            }
            @if (ViewBag.IsScheduleTabVisible)
            {
                <li class="schedule-li">
                    <span class="tab-header-text">Плановые графики билетных кассиров</span>
                    <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
                </li>
            }
            @if (ViewBag.IsProceedsPlansTabVisible)
            {
                <li class="proceed-plans-li">
                    <span class="tab-header-text">Планы по выручке</span>
                    <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
                </li>
            }
            @if (ViewBag.IsEmployeeShiftScheduleTabVisible)
            {
                <li class="employee-shift-schedule-li">
                    <span class="tab-header-text">Режимы работы работников</span>
                    <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
                </li>
            }
            <li class="teller-window-schedule-li">
                <span class="tab-header-text">Расписания работы КО</span>
                <input type="button" value="" name="fix-button-tab" style="display: none" data-bind="events: { click: tabStripViewModel.fixTabHandler }" />
            </li>
        </ul>
        @if (ViewBag.IsTellerWindowsTabVisible)
        {
            <div>
                @Html.Partial("IndexTellerWindow", Model)
            </div>
        }
        @if (ViewBag.IsTerminalsTabVisible)
        {
            <div>
                @Html.Partial("IndexTerminal", Model)
            </div>
        }
        @if (ViewBag.IsScheduleTabVisible)
        {
            <div>
                @Html.Partial("IndexSchedule", Model)
            </div>
        }
        @if (ViewBag.IsProceedsPlansTabVisible)
        {
            <div>
                @Html.Partial("IndexProceedsPlans", Model)
            </div>
        }
        @if (ViewBag.IsEmployeeShiftScheduleTabVisible)
        {
            <div>
                @Html.Partial("IndexEmployeeShiftSchedule", Model)
            </div>
        }        
        <div>
            @Html.Partial("IndexTellerWindowSchedules", Model)
        </div>        
    </div>
</div>
