﻿@model Bell.Grok.Web.ViewModel.StationPassportViewModel

<div id="seasons" data-seasons="@Json.Encode(Model.Seasons)"></div>

<div>
    <h3>Расписания работы кассовых окон</h3>
    <div id="teller-window-schedules" style="width: 50%"></div>        
</div>