﻿@model Bell.Grok.Web.ViewModel.StationPassportViewModel
<div>    
    <fieldset>
        <legend>Фильтр</legend>
        <form id="terminal-search-params">
            
            <div style="float: left">
                <table class="invisible-table">
                    <tr>
                        <td style="vertical-align:top; padding-top: 10px">
                            @Html.Label("№ терминала")
                            <br />
                            @Html.ListBoxFor(model => model.SelectedTerminalNumbers, new MultiSelectList(Model.TerminalNumbers, "Id", "Number"), new { data_role = "multiselect", @class = "shortMultiSelect", data_bind = "events: { change: terminalFilterViewModel.terminalNumbersChanged }", style = "width:100px" })
                        </td>
                        <td style="vertical-align:top; padding-top: 10px">
                            @Html.Label("Тип ККТ")
                            <br />
                            @Html.ListBoxFor(model => model.SelectedTerminalTypes, new MultiSelectList(Model.TerminalTypes, "Id", "Name"), new { data_role = "multiselect", @class = "middleMultiSelect", data_bind = "events: { change: terminalFilterViewModel.terminalTypesChanged }", style = "width:150px" })
                        </td>
                        <td style="vertical-align:top; padding-top: 10px">
                            @Html.Label("№ окна")
                            <br />
                            @Html.ListBoxFor(model => model.SelectedWindowTellerNumbersInTerminalTab, new MultiSelectList(Model.WindowTellerNumbers, "Value", "Text"), new { data_role = "multiselect", @class = "shortMultiSelect", data_bind = "events: { change: terminalFilterViewModel.selectedWindowTellerNumberChanged }", style = "width:100px" })
                        </td>
                        <td style="vertical-align:top">
                            @Html.Label("Период эксплуатации")
                            <table cellspacing="0" cellpadding="0" class="invisible-table">
                                <tr>
                                    <td>
                                        @Html.Label("с")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.TerminalBeginExploitationPeriod, new { data_role = "datepicker", disabled = "disabled", data_bind = "events: { change: terminalFilterViewModel.beginDateChanged}" })
                                        @Html.ValidationMessageFor(model => model.TerminalBeginExploitationPeriod, null, new { style = "display:none;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("по")
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.TerminalEndExploitationPeriod, new { data_role = "datepicker", disabled = "disabled", data_bind = "events: { change: terminalFilterViewModel.endDateChanged}" })
                                        @Html.ValidationMessageFor(model => model.TerminalEndExploitationPeriod, null, new { style = "display:none;" })
                                    </td>
                                </tr>
                            </table>                            
                        </td>
                        <td style="vertical-align:top; padding-top: 25px;">
                            <div id="terminal-show-current-radiogroup">
                                @Html.RadioButtonFor(model => model.IsShowCurrent, "true", new { @checked = "checked", data_bind = "events:{ click: showOnlyCurrent}", @class = "filterShowCurrent" })
                                Показывать текущие
                                <br />
                                @Html.RadioButtonFor(model => model.IsShowCurrent, "false", new { data_bind = "events:{ click: showAll}", @class = "filterShowAll" })
                                Показывать все
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="terminal-filter-change-div">                            
                </div> 
            </div>
            
            <div style="float: right">
                <table class="invisible-table">
                    <tr>
                        <td style="vertical-align: top; padding-top: 49px">
                            <input data-bind="events:{ click: terminalFilter}" type="button" value="Применить" class="k-button" id="find-terminal-button" />
                            <input data-bind="events: { click: resetTerminalFilter }" type="button" value="Сбросить" class="k-button button-left-indent" id="reset-terminal-filter-button" />
                        </td>
                    </tr>
                </table>    
            </div>
        </form>
    </fieldset>
    <div data-role="grid"
         data-auto-bind="false"
        data-toolbar='[{ "template": kendo.template($("#terminalGridToolbar").html()) } ]'
        data-bind="source: terminalGridSource, events: { change: terminalSelected, dataBinding: terminalGridDataBinding, dataBound: terminalsBound }"
        data-resizable="true"
        data-sortable='{ "mode": "single", "allowUnsort": false }'
        data-selectable="row"
        data-pageable='{ "messages": 
                                        { "display": "{0} - {1} из {2}",
                                          "empty": "Нет элементов для отображения",
                                          "page": "Страница",
                                          "of": "из {0}",
                                          "itemsPerPage": "элементов на страницу",
                                          "first": "К первой странице",
                                          "previous": "К предыдущей странице",
                                          "next": "К следующей странице",
                                          "last": "К последней странице",
                                          "refresh": "Обновить" }
                                    }'
        data-columns='[{ "template": kendo.template($("#terminalButtonColumn").html()), hidden: $("#are-buttons-disabled").attr("data-are-disabled").toLowerCase() === "true", width: "50px" },
                                    { "field": "Number", "title": "№", width: "80px" },
                                    { "field": "TypeName", "title": "Тип", "sortable" : false, width: "70px" },
                                    { "field": "ModelName", "title": "Модель", "sortable" : false, width: "80px" },
                                    { "field": "AgentName", "title": "Агент", "sortable" : false, width: "100px" },
                                    { "field": "Placement", "title": "Расположение", "sortable" : false, width: "160px" },
                                    { "field": "ProfileName", "title": "Профиль", "sortable" : false, width: "80px" },
                                    { "field": "PurposeName", "title": "Назначение", "sortable" : false, width: "230px" },
                                    { "field": "BeginDate", "title": "Дата ввода", width: "90px" },
                                    { "field": "EndDate", "title": "Дата вывода", "sortable" : false, width: "90px" },
                                    { "field": "Comment", "title": "Примечание", "sortable" : false, width: "100px" },
                                    { "field": "StatusName", "title": "Статус", "sortable" : false, width: "280px" }                                    
                                   ]'
        id="terminals-grid"
        style="width: 100%">
    </div>
    <h3>Окно</h3>    
    <div data-role="grid"
         data-auto-bind="false"
        data-toolbar='[{ "template": kendo.template($("#tellerWindowTerminalGridToolbar").html()) } ]'
        data-bind="source: tellerWindowTerminalGridSource"
        data-sortable='{ "mode": "single", "allowUnsort": false }'
        data-pageable='{ "messages": 
                                                { "display": "{0} - {1} из {2}",
                                                    "empty": "Нет элементов для отображения",
                                                    "page": "Страница",
                                                    "of": "из {0}",
                                                    "itemsPerPage": "элементов на страницу",
                                                    "first": "К первой странице",
                                                    "previous": "К предыдущей странице",
                                                    "next": "К следующей странице",
                                                    "last": "К последней странице",
                                                    "refresh": "Обновить" }
                                            }'
        data-columns='[    { "template": kendo.template($("#tellerWindowTerminalButtonColumn").html()), hidden: $("#are-buttons-disabled").attr("data-are-disabled").toLowerCase() === "true" },
                                            { "field": "TellerWindowNumber", "title": "№ окна", "sortable" : false },
                                            { "field": "BeginDate", "title": "Дата установки" },
                                            { "field": "EndDate", "title": "Дата снятия", "sortable" : false }                                    
                                        ]'
        id="teller-window-teminal-grid"
        style="width: 50%">
    </div>
</div>
