﻿<div>
    <div id="scheduleTab">
        <div class="scheduleCaptionLbl">

            <span>Плановый месяц:</span>
            &nbsp;
                        <input id="scheduleDateInput" data-role="datepicker" data-bind="value: scheduleDate, events: { change: changeScheduleDate }" />
        </div>
        <div class="scheduleCaptionLbl">
            @ViewBag.FullStationName
        </div>
        <div data-role="grid"
            data-auto-bind="false"
            data-bind="source: schedulesSource, events:{ dataBound: scheduleBound}"
            data-resizable="true"
            data-sortable='{ "mode": "single", "allowUnsort": false }'
             data-pageable='{ "messages": 
                                                { "display": "{0} - {1} из {2}",
                                                    "empty": "Нет элементов для отображения",
                                                    "page": "Страница",
                                                    "of": "из {0}",
                                                    "itemsPerPage": "элементов на страницу",
                                                    "first": "К первой странице",
                                                    "previous": "К предыдущей странице",
                                                    "next": "К следующей странице",
                                                    "last": "К последней странице",
                                                    "refresh": "Обновить" }
                                            }'             
            data-filterable='{
                                "extra": false,
                                "operators": {
                                    "string": {
                                        "contains": "содержит"
                                    }
                                },                                
                                "messages": {
                                    "info": "Элементы со значением",
                                    "filter": "Применить",
                                    "clear": "Сбросить"
                                }
                                            }'
             data-columns='[    
                                            { "template": kendo.template($("#scheduleButtonColumn").html()), "sortable" : false, "filterable": false, "width" : "50px", hidden: $("#are-delete-schedule-buttons-enabled").attr("data-are-enabled").toLowerCase() !== "true" },
                                            { "field": "EmployeeName", "title": "ФИО", "sortable" : true, "width" : "120px"},
                                            { "field": "EmployeePosition", "title": "Должность", "sortable" : true, "width" : "110px" },
                                            { "field": "EmployeeNumber", "title": "Таб №", "sortable" : true, "width" : "90px" },
                                            { "field": "TellerWindowNumber", "title": "№ кассы", "sortable" : false, "filterable": false, "width" : "50px" },
                                            { "template": "#= buildScheduleDetailDayCell(Day1, NightDay1, DayTypes1, IsSplitted1) #", "title": "1", "sortable" : false, "filterable": false, "width" : "55px" },
                                            { "template": "#= buildScheduleDetailDayCell(Day2, NightDay2, DayTypes2, IsSplitted2) #", "title": "2", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day3, NightDay3, DayTypes3, IsSplitted3) #", "title": "3", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day4, NightDay4, DayTypes4, IsSplitted4) #", "title": "4", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day5, NightDay5, DayTypes5, IsSplitted5) #", "title": "5", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day6, NightDay6, DayTypes6, IsSplitted6) #", "title": "6", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day7, NightDay7, DayTypes7, IsSplitted7) #", "title": "7", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day8, NightDay8, DayTypes8, IsSplitted8) #", "title": "8", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day9, NightDay9, DayTypes9, IsSplitted9) #", "title": "9", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day10, NightDay10, DayTypes10, IsSplitted10) #", "title": "10", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day11, NightDay11, DayTypes11, IsSplitted11) #", "title": "11", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day12, NightDay12, DayTypes12, IsSplitted12) #", "title": "12", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day13, NightDay13, DayTypes13, IsSplitted13) #", "title": "13", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day14, NightDay14, DayTypes14, IsSplitted14) #", "title": "14", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day15, NightDay15, DayTypes15, IsSplitted15) #", "title": "15", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day16, NightDay16, DayTypes16, IsSplitted16) #", "title": "16", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day17, NightDay17, DayTypes17, IsSplitted17) #", "title": "17", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day18, NightDay18, DayTypes18, IsSplitted18) #", "title": "18", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day19, NightDay19, DayTypes19, IsSplitted19) #", "title": "19", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day20, NightDay20, DayTypes20, IsSplitted20) #", "title": "20", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day21, NightDay21, DayTypes21, IsSplitted21) #", "title": "21", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day22, NightDay22, DayTypes22, IsSplitted22) #", "title": "22", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day23, NightDay23, DayTypes23, IsSplitted23) #", "title": "23", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day24, NightDay24, DayTypes24, IsSplitted24) #", "title": "24", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day25, NightDay25, DayTypes25, IsSplitted25) #", "title": "25", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day26, NightDay26, DayTypes26, IsSplitted26) #", "title": "26", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day27, NightDay27, DayTypes27, IsSplitted27) #", "title": "27", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day28, NightDay28, DayTypes28, IsSplitted28) #", "title": "28", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day29, NightDay29, DayTypes29, IsSplitted29) #", "title": "29", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day30, NightDay30, DayTypes30, IsSplitted30) #", "title": "30", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "template": "#= buildScheduleDetailDayCell(Day31, NightDay31, DayTypes31, IsSplitted31) #", "title": "31", "sortable" : false, "filterable": false, "width" : "55px"  },
                                            { "field": "TotalHours", "title": "Всего часов", "sortable" : false, "filterable": false, "width" : "60px" },
                                            { "field": "NightHours", "title": "Итого ночных", "sortable" : false, "filterable": false, "width" : "60px" },
                                            { "field": "HolidayHours", "title": "Итого праздничных", "sortable" : false, "filterable": false, "width" : "90px" },
                                            { "field": "ApprovalDate", "title": "Дата согласования", "sortable" : false, "filterable": false, "width" : "90px" },
                                            { "title": "Согласовано", "template": kendo.template($("#approvalStatusColumn").html()), "sortable" : false, "filterable": false, "width" : "100px" } 
                                        ]'
            id="schedules-grid">
        </div>
        <div id="scheduleButtonsPanel" style="margin-top: 20px;">
            <input id="scheduleAddBtn" type="button" value="Добавить" class="k-button button-left-indent" data-bind="events:{ click: AddSchedule }, enabled: false" />
            <input id="schedileExportLink" type="button" value="Экспорт" class="k-button button-left-indent" data-bind="events:{ click: scheduleExportClick }, enabled: false" />
            <input id="scheduleReconcileButton" type="button" value="На согласование" class="k-button button-left-indent" data-bind="events:{ click: scheduleSendReconcileListener}, enabled: false" />
            <input id="scheduleCancelReconcileButton" type="button" value="Отменить согласование" data-bind="events:{ click: scheduleCancelReconcileListener}, enabled: false" class="k-button button-left-indent" />
            <input id="scheduleConfirmReconcileButton" type="button" value="Подтвердить согласование" data-bind="events: { click: confirmScheduleReconcileListener}, enabled: false" class="k-button button-left-indent" />
        </div>
        <div style="margin-top: 20px;">
            <div class="scheduleCaptionLbl" style="text-align: center">
                <span>Режим работы работника</span>
            </div>
            <div data-role="grid"
                data-auto-bind="false"
                data-bind="source: tellerWindowSchedulesSource"
                data-columns='[    
                                            { "field": "Numbers", "title": "№ кассы", "sortable" : false, "width" : "30px"},
                                            { "field": "Monday", "title": "Пн.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Tuesday", "title": "Вт.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Wednesday", "title": "Ср.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Thursday", "title": "Чт.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Friday", "title": "Пт.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Saturday", "title": "Сб.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Sunday", "title": "Вс.", "sortable" : false, "width" : "60px"  },
                                            { "field": "Holiday", "title": "Праздники", "sortable" : false, "width" : "60px"  },
                                        ]'
                id="tellerWindowSchedules-grid">
            </div>
        </div>
    </div>
</div>
