﻿@model Bell.Grok.Web.ViewModel.StationPassportViewModel

<div id="cash-boxes">    
    <fieldset>
        <legend>Фильтр</legend>
        <form id="cash-boxes-search-params">
            <div style="float: left">
                <table class="invisible-table">
                    <tr>
                        <td style="vertical-align:top; padding-top: 10px">
                            @Html.Label("№ окна")
                            <br />
                            @Html.ListBoxFor(model => model.SelectedWindowTellerNumbers, new MultiSelectList(Model.WindowTellerNumbers, "Value", "Text"), new { data_role = "multiselect", @class = "shortMultiSelect", style = "width:100px", data_bind = "events: { change: tellerWindowFilterViewModel.tellerWindowNumbersChanged}" })
                        </td>
                        <td style="vertical-align:top; padding-top: 10px">
                            @Html.Label("Период")
                            <br />
                            @Html.Label("с")
                            @Html.TextBoxFor(model => model.TellerWindowBeginExploitationPeriod, new { data_role = "datepicker", data_bind = "events: { change: tellerWindowFilterViewModel.beginDateChanged}" })
                            @Html.ValidationMessageFor(model => model.TellerWindowBeginExploitationPeriod, null, new { style = "display:none;" })
                            @Html.Label("по")
                            @Html.TextBoxFor(model => model.TellerWindowEndExploitationPeriod, new { data_role = "datepicker", data_bind = "events: { change: tellerWindowFilterViewModel.endDateChanged}" })
                            @Html.ValidationMessageFor(model => model.TellerWindowEndExploitationPeriod, null, new { style = "display:none;" })
                        </td>
                    </tr>
                </table>
            </div>

            <div style="float: right">
                <table class="invisible-table">
                    <tr>
                        <td style="vertical-align: top; padding-top: 25px">
                            <input data-bind="events: { click: tellerWindowFilter }" type="button" value="Применить" class="k-button" id="find-button" />
                            <input data-bind="events: { click: tellerWindowResetFilter }" type="button" value="Сбросить" class="k-button button-left-indent " id="reset-filter-button" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </fieldset>
    <div data-role="grid"
         data-auto-bind="false"
        data-toolbar='[{ "template": kendo.template($("#tellerWindowGridToolbar").html()) } ]'
        data-bind="source: tellerWindowGridSource, events: { dataBound: tellerWindowsBound }"
        data-resizable="true"
        data-sortable='{ "mode": "single", "allowUnsort": false }'
        data-pageable='{ "messages": 
                                        { "display": "{0} - {1} из {2}",
                                          "empty": "Нет элементов для отображения",
                                          "page": "Страница",
                                          "of": "из {0}",
                                          "itemsPerPage": "элементов на страницу",
                                          "first": "К первой странице",
                                          "previous": "К предыдущей странице",
                                          "next": "К следующей странице",
                                          "last": "К последней странице",
                                          "refresh": "Обновить" }
                                    }'
         data-columns='[{ "template": kendo.template($("#buttonColumn").html()), hidden: $("#are-buttons-disabled").attr("data-are-disabled").toLowerCase() === "true", width: "100px" },
                                    { "field": "Number", "title": "№ окна", width: "80px" },
                                    { "field": "Placement", "title": "Расположение", "sortable" : false, width: "120px" },
                                    { "field": "ProfileName", "title": "Профиль", "sortable": false, width: "80px" },
                                    { "field": "TerminalType", "title": "ККТ", "sortable" : false, width: "50px", "template": "#= splitList(TerminalType) #" },
                                    { "field": "TerminalNumber", "title": "№ ККТ", "sortable" : false, width: "60px", "template": "#= splitList(TerminalNumber) #" },
                                    { "field": "Shiftness", "title": "Сменность", "sortable" : false, width: "80px" },
                                    { "field": "WorkDays", "title": "Рабочие дни", "sortable" : false, width: "90px" },
                                    { "field": "WorkTime", "title": "Время работы", "sortable" : false, width: "100px" },
                                    { "field": "Breaks", "title": "Перерывы", "sortable" : false, width: "80px" },
                                    { "field": "BreakTime", "title": "Время перерывов", "sortable" : false, width: "120px" },
                                    { "field": "Specialization", "title": "Специализация", "sortable" : false, width: "120px", "template": "#= splitList(Specialization) #" },
                                    { "field": "Status", "title": "Статус", "sortable" : false, width: "90px" },
                                    { "field": "Payment", "title": "Оплата", "sortable" : false, width: "100px" },
                                    { "field": "BeginDate", "title": "Установлен", "sortable" : false, width: "90px" },
                                    { "field": "EndDate", "title": "Отменён", "sortable" : false, width: "90px" },
                                    { "field": "Description", "title": "Примечание", "sortable" : false, width: "100px" }                                                                                           
                                   ]'
        id="teller-windows-grid"
        style="width: 100%">
    </div>
</div>
