﻿@if (ViewBag.IsEmployeeShiftScheduleTabEditable)
{
    <script id="shiftButtonColumn" type="text/x-kendo-template">       
        <a style="margin-left: 20px;" onclick="viewModel.shiftScheduleViewModel.changeShift(this);"><img src="/Content/img/edit.png" alt="Редактировать номер" title="Редактировать номер"/></a>         
        <a style="margin-left: 20px;" onclick="viewModel.shiftScheduleViewModel.deleteShift(this)" ><img src="/Content/img/delete.png" alt="Удалить" title="Удалить"/></a>         
    </script>

    <script id="shiftScheduleButtonColumn" type="text/x-kendo-template">       
        <a style="margin-left: 20px;" onclick="viewModel.shiftScheduleViewModel.changeShiftShedule(this);"><img src="/Content/img/edit.png" alt="Редактировать" title="Редактировать"/></a>         
    </script>
}

<div id="read-employee-shifts" data-url="@Url.Action("ReadEmployeeShifts", "Station")"></div>
<div id="read-employee-shift-schedule" data-url="@Url.Action("ReadEmployeeShiftSchedule", "Station")"></div>
<div id="set-employee-shift-schedule" data-url="@Url.Action("SetEmployeeShiftSchedule", "Station")"></div>
<div id="create-employee-shift" data-url="@Url.Action("CreateEmployeeShift", "Station")"></div>
<div id="delete-employee-shift" data-url="@Url.Action("DeleteEmployeeShift", "Station")"></div>
<div id="change-employee-shift-number" data-url="@Url.Action("ChangeEmployeeShiftNumber", "Station")"></div>

<div>
    <h3>Редактирование режима работы работника</h3>
    <div id="employeeShiftScheduleGrid"></div>
    @if (ViewBag.IsEmployeeShiftScheduleTabEditable)
    {
        <div>
            <input type="button" value="Добавить" class="k-button button-top-indent" data-bind="events:{click:shiftScheduleViewModel.addShift}" />
        </div>

        <div id="change-shift-popup" class="parent-window">
            <table class="invisible-table">
                <tr>
                    <td>Время работы: &nbsp;
                    </td>
                    <td>
                        <input id="shift-timepicker-beginWork" class="lower-limit" data-role="timepicker" />
                        <span>-</span>
                        <input id="shift-timepicker-endWork" class="upper-limit" data-role="timepicker" />
                    </td>
                </tr>
                <tr>
                    <td>Обед: &nbsp;
                    </td>
                    <td>
                        <input id="shift-timepicker-beginBreak" class="lower-limit" data-role="timepicker" />
                        <span>-</span>
                        <input id="shift-timepicker-endBreak" class="upper-limit" data-role="timepicker" />
                    </td>
                </tr>
            </table>
            <input type="button" value="Ок" class="k-button button-top-indent" data-bind="click: shiftScheduleViewModel.changeShiftSheduleSubmit" style="width: 49%" />
            <input type="button" value="Отмена" class="k-button button-top-indent" data-bind="click: shiftScheduleViewModel.changeShiftSheduleReject" style="width: 49%" />
        </div>

        <div id="change-shift-number-popup" class="parent-window">
            Номер смены:
                         <div id="changeShiftNumberId" class="hidden"></div>
            <input id="changeShiftNumberInput">
            <input type="button" value="Ок" class="k-button button-top-indent" data-bind="click: shiftScheduleViewModel.changeShiftSubmit" style="width: 49%" />
            <input type="button" value="Отмена" class="k-button button-top-indent" data-bind="click: shiftScheduleViewModel.changeShiftReject" style="width: 49%" />
        </div>
    }
</div>
