﻿            <div id="proceeds-plan-container">
                <h3>Редактирование планов по выручке станции</h3>
                <form id="proceeds-plan-search-params">
                    <div>
                        <span>Планы выручки с</span>
                        &nbsp;
                        <input id="proceeds-plan-begin-date" name="proceedsPlanBeginDate" data-role="datepicker" data-bind="value: proceedsPlanBeginDate, events: { change: changeBeginMonth }" data-start="year" data-depth="year" data-format="MMMM yyyy" />
                        &nbsp;
                        <span>по</span>
                        &nbsp;
                        <input id="proceeds-plan-end-date" name="proceedsPlanEndDate" data-role="datepicker" data-bind="value: proceedsPlanEndDate, events: { change: changeEndMonth }" data-start="year" data-depth="year" data-format="MMMM yyyy" />
                    </div>
                    <div id="proceeds-plan-filter-change-div" style="float: left; padding-top: 10px;">
                    </div>
                </form>
                <div data-role="grid"
                    data-auto-bind="false"
                    data-bind="source: proceedsPlanSource, events: { dataBound: proceesdsPlanBound }"
                    data-resizable="true"
                    data-editable=""
                    data-sortable='{ "mode": "single", "allowUnsort": false }'
                    data-pageable='{ "messages": 
                                        { "display": "{0} - {1} из {2}",
                                            "empty": "Нет элементов для отображения",
                                            "page": "Страница",
                                            "of": "из {0}",
                                            "itemsPerPage": "элементов на страницу",
                                            "first": "К первой странице",
                                            "previous": "К предыдущей странице",
                                            "next": "К следующей странице",
                                            "last": "К последней странице",
                                            "refresh": "Обновить" }
                                    }'
                    data-columns='[    
                                        { "field": "Date", "title": "Дата", "sortable" : true},
                                        { "field": "CommonPlan", "title": "План общий", format: "{0:##,#}", "sortable" : true },
                                        { "field": "PaidPlan", "title": "в т.ч. платный", format: "{0:##,#}", "sortable" : true}
                                   ]'
                    id="proceeds-plan-grid"
                    style="width: 50%; margin-top: 40px;">
                </div>
            </div>
