﻿@model Bell.Grok.Web.ViewModel.TellerWindowSchedulesViewModel

@{
    ViewBag.Title = "TellerWindowSchedulesEdit";
}

<link href="~/Plugins/kendo.menu.ex/kendo.menu.ex.css" rel="stylesheet" type="text/css" />

@section Scripts
{
    <script src="~/Plugins/kendo.menu.ex/kendo.menu.ex.js" type="text/javascript"></script>
    <script src="~/Scripts/teller-window-schedule-hour-types.js"></script>    
    <script src="~/Scripts/teller-window-schedule-page.js"></script>       
}

<div id="hour-types" data-values="@Json.Encode(Model.HourTypes)"></div>
<div id="teller-window-schedule-day-types" data-values="@Json.Encode(Model.TellerWindowScheduleDayTypes)"></div>
<div id="teller-window-numbers" data-values="@Json.Encode(Model.TellerWindowNumbers)"></div>

<div id="season-id" data-value="@Model.Season.SeasonId"></div>
<div id="year" data-value="@Model.Year"></div>
<div id="sector-station-id" data-value="@Model.SectorStationId"></div>

<div id="teller-window-individual-schedules-url" data-url="@Url.Action("ReadIndividualTellerWindowSchedules", "TellerWindowSchedule")"></div>
<div id="teller-window-individual-schedules-save-url" data-url="@Url.Action("UpdateIndividualTellerWindowSchedules", "TellerWindowSchedule")"></div>

<h2>Сезонное расписание работы кассовых окон</h2>

<h3>@Model.Year год - @Model.Season.SeasonName сезон</h3>


<div style="float:right">
    <a id="return-to-passport-station-link" href="@Model.ReturnUrl">Вернуться в паспорт станции</a>
</div>

<div class="weekdays-grid-conteiner">
    <h4 id="teller-window-schedules-day-type-header-0"></h4>     
    <div id="weekdays-grid-0" class="teller-windows-schedule-grid" style="width: 100%"></div>
    <h4 id="teller-window-schedules-day-type-header-1"></h4>              
    <div id="weekdays-grid-1" class="teller-windows-schedule-grid" style="width: 100%"></div> 
</div>

<div id="popup-menu"></div>