﻿@model Bell.Grok.Web.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.session.clear();
        });
    </script>
}

<div id="login">
<h2>Вход</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("Login", "Account", new { returnUrl = Model.ReturnUrl }, FormMethod.Post))
    {
        
        @Html.AntiForgeryToken()
        <div>
            <fieldset>
                <div class="display-label">
                    @Html.LabelFor(m => m.Login)
                 </div>
                 <div class = "display-field">
                    @Html.TextBoxFor(m => m.Login, new { @class = "k-input k-textbox", maxlength = 20})
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
                 <div class="display-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class = "display-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "k-input k-textbox", maxlength = 20})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="display-label">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <p>
                    <input type="submit" class="k-button" value="Войти" />
                </p>
            </fieldset>
        </div>
    }        
</div>
