﻿@model Bell.Grok.Web.Areas.Admin.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts
{  
<script src="~/Areas/Admin/Scripts/PasswordGenerator.js"></script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserId)           

    <h3>Новый пароль</h3>            
    
    <table class="invisible-table global-left-indent">
        <tr>
            <td>
                <table class="invisible-table">
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>                            
                            @Html.PasswordFor(model => model.Password, new {@class = "k-input k-textbox passwordInput"})
                            <a href="javascript:generatePassword()">Сгенерировать пароль</a>
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PasswordConfirmation)
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.PasswordConfirmation, new {@class = "k-input k-textbox passwordInput"})
                            <a href="javascript:showPassword()">Показать пароль</a>
                            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input value="Сохранить" type="submit" class="k-button button-top-indent" />
                @Html.ActionLink("Отмена", "List", "Users", new { area = "Admin"}, new { @class = "k-button button-left-indent button-top-indent"})
            </td>
        </tr>
    </table>
    
}
