﻿@{
    ViewBag.Title = "ChangePasswordError";
}

<h2>При смене пароля произошла ошибка</h2>

@Html.ValidationSummary(false)

<a href="@Url.RouteUrl("AdminList")">Вернуться к списку пользователей</a>
