﻿@model Bell.Grok.Web.Areas.Admin.ViewModel.UserCreateFromDictionaryViewModel

@section Scripts
{    
    <script src="~/Areas/Admin/Scripts/PasswordGenerator.js"></script>
    <script src="~/Areas/Admin/Scripts/create-from-dictionary.js"></script>
}

<div id="viewbag-params">
    <div id="is-after-error" data-is-after-error="@ViewBag.IsAfterError"></div>
</div>

<div id="main" class="k-content">
    <div id="employee-dictionary-popup" style="display: none">
        <form id="search-params">            
            @Html.Label("Фамилия")
            @Html.TextBox("EmployeeLastName", string.Empty, new { @class = "k-textbox" })
            
            @Html.Label("Имя")
            @Html.TextBox("EmployeeFirstName", string.Empty, new { @class = "k-textbox" })
            
            @Html.Label("Отчество")
            @Html.TextBox("EmployeeMiddleName", string.Empty, new { @class = "k-textbox" })
            
            <input type="button" value="Найти" class="k-button button-vertical-indent" id="find-button"/>
        </form>        
        <div id="employee-dictionary-grid" data-url="@Url.Action("ReadEmployees", "Users", new { area = "Admin" })"></div>        
        <input id="choose-employee" type="button" class="k-button k-state-disabled button-top-indent" value="Выбрать сотрудника"/>
    </div>
    
    <input id="add-from-dictionary" type="button" class="k-button" value="Найти в справочнике"/>
    
    <div id="users-grid" data-url=""></div>
    
    <div id="new-user">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
        <table class="invisible-table global-left-indent">
        <tr>
            <td>                
                @Html.HiddenFor(model => model.EmployeeId)
                <table class="invisible-table">
                    <tr>
                        <td>@Html.LabelFor(model => model.EmployeeNumber)</td>
                        <td>@Html.TextBoxFor(model => model.EmployeeNumber, new {@class = "k-input k-textbox", @readonly = "readonly"})</td>
                    </tr>                
                    <tr>
                        <td>@Html.LabelFor(model => model.EmployeeFirstName)</td>
                        <td>@Html.TextBoxFor(model => model.EmployeeFirstName, new {@class = "k-input k-textbox", @readonly = "readonly"})</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.EmployeeMiddleName)</td>
                        <td>@Html.TextBoxFor(model => model.EmployeeMiddleName, new {@class = "k-input k-textbox", @readonly = "readonly"})</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.EmployeeLastName)</td>
                        <td>@Html.TextBoxFor(model => model.EmployeeLastName, new {@class = "k-input k-textbox", @readonly = "readonly"})</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Учетная запись</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Login)</td>
                        <td>
                            @Html.TextBoxFor(model => model.Login, new {@class = "k-input k-textbox"})
                            @Html.ValidationMessageFor(model => model.Login)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Password)</td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new {@class = "k-input k-textbox passwordInput"})
                            <a href="javascript:generatePassword()">Сгенерировать пароль</a>
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PasswordConfirmation)</td>
                        <td>
                            @Html.PasswordFor(model => model.PasswordConfirmation, new {@class = "k-input k-textbox passwordInput"})
                            <a href="javascript:showPassword()">Показать пароль</a>
                            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Description)</td>
                        <td>@Html.TextAreaFor(model => model.Description, new { @readonly = "readonly", @class = "k-state-disabled"})</td>
                    </tr>
                </table>

            </td>

            </tr>
            <tr>
                <td>
                    <div class="top-indent">
                        @{ Html.RenderPartial("RoleEditor", Model.UserRole); }
                     </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input value="Сохранить" type="submit" class="k-button k-state-disabled button-top-indent" disabled="disabled"/>
                    @Html.ActionLink("Отмена", "List", "Users", new { area = "Admin" }, new { @class = "k-button button-left-indent button-top-indent" })
                </td>
            </tr>
        </table>            
        }
              
    </div>
</div>

