﻿@model Bell.Grok.Web.Areas.Admin.ViewModel.UserCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section Scripts
{  
<script src="~/Areas/Admin/Scripts/PasswordGenerator.js"></script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)            

    <table class="invisible-table global-left-indent">
        <tr>
            <td>
                <table class="invisible-table">
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeFirstName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeFirstName, new {@class = "k-input k-textbox adminTbx", maxlength = 100}) 
                            @Html.ValidationMessageFor(model => model.EmployeeFirstName)
                        </td>    
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeMiddleName) 
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeMiddleName, new {@class = "k-input k-textbox adminTbx", maxlength = 100})
                            @Html.ValidationMessageFor(model => model.EmployeeMiddleName) 
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeLastName) 
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeLastName, new {@class = "k-input k-textbox adminTbx", maxlength = 100})
                            @Html.ValidationMessageFor(model => model.EmployeeLastName)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            <h3>Учетная запись</h3>
                        </td> 
                        <td>
                
                        </td>          
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Login)    
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Login, new { @class = "k-input k-textbox adminTbx", maxlength = 20})
                            @Html.ValidationMessageFor(model => model.Login)    
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Password) 
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new {@class = "k-input k-textbox adminTbx passwordInput", maxlength = 20})
                            <a href="javascript:generatePassword()">Сгенерировать пароль</a>
                            @Html.ValidationMessageFor(model => model.Password) 
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.PasswordConfirmation)
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.PasswordConfirmation, new { @class = "k-input k-textbox adminTbx passwordInput", maxlength = 20})
                            <a href="javascript:showPassword()">Показать пароль</a>
                            @Html.ValidationMessageFor(model => model.PasswordConfirmation) 
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Description)
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Description, new { cols = 25, rows = 5 }) 
                        </td>
                    </tr>                    
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="top-indent">
                    @{ Html.RenderPartial("RoleEditor", Model.UserRole); }
                </div>
            </td>
        </tr>
        <tr>            
            <td>                
                <input value="Сохранить" type="submit" class="k-button button-top-indent" />
                @Html.ActionLink("Отмена", "List", "Users", new { area = "Admin"}, new { @class = "k-button button-left-indent button-top-indent"})                    
            </td>                        
        </tr>
    </table>
    
    
}
