﻿@model Bell.Grok.Web.Areas.Admin.ViewModel.UserViewModel

@{
    ViewBag.Title = "Edit";
}

<script src="~/Areas/Admin/Scripts/edit.js"></script>

<div id="are-name-fileds-readonly" data-readonly="@Model.AreNameFieldsReadonly"></div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserId)

    <table class="invisible-table global-left-indent">
        <tr>
            <td>
                <table id="named-fields" class="invisible-table">
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeFirstName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeFirstName, new {@class = "k-input k-textbox adminTbx", maxlength = 100})
                            @Html.ValidationMessageFor(model => model.EmployeeFirstName) 
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeMiddleName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeMiddleName, new {@class = "k-input k-textbox adminTbx", maxlength = 100})
                            @Html.ValidationMessageFor(model => model.EmployeeMiddleName)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.EmployeeLastName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.EmployeeLastName, new {@class = "k-input k-textbox adminTbx", maxlength = 100})
                            @Html.ValidationMessageFor(model => model.EmployeeLastName)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-text-aligment">
                            @Html.LabelFor(model => model.Description)
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Description)
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
        <tr>
            <td>
                <div class="top-indent">
                    @{ Html.RenderPartial("RoleEditor", Model.UserRole); }
                </div>
            </td>
        </tr>    
        <tr>            
            <td>
                <input value="Сохранить" type="submit" class="k-button button-top-indent" />
                @Html.ActionLink("Отмена", "List", "Users", new { area = "Admin"}, new { @class = "k-button button-left-indent button-top-indent"})
            </td>
        </tr>
      </table>
}
