﻿
<h2>Список пользователей</h2>

@section Scripts
{
    <script src="~/Areas/Admin/Scripts/list.js"></script>
    
    <script id="editColumn" type="text/x-kendo-template">       
         <a href="#: EditUrl #" class="k-button button-top-indent">Редактировать</a>
         <br />            
         <a href="#: ChangePasswordUrl #" class="k-button button-top-indent">Сменить пароль</a>          
    </script>
    
    <script id="blockColumn" type="text/x-kendo-template">
        # if(IsActive) { #
            <input type="button" class="k-button" value="Заблокировать" name="user-block" />    
        # } else { #
            <input type="button" class="k-button" value="Активировать" name="user-active" />
        # } #
    </script>
}

<style>
    .k-state-active span.k-filter
    {
        background-image: url("/Content/img/kendo_sprite_active.png") !important;
    }
</style>

<div class="usersListButtonsContainer">
    @Html.ActionLink("Создать пользователя из справочника сотрудников", "CreateFromDictionary", "Users", new { area = "Admin" }, new { @class = "k-button" })
    @Html.ActionLink("Создать пользователя", "Create", "Users", new { area = "Admin" }, new { @class = "k-button" })
</div>

<div>
    <div id="users-grid" data-url="@Url.Action("Read", "Users", new { area = "Admin" })">
        <input type="hidden" id="active-url" data-url="@Url.Action("Active", "Users", new { area = "Admin"})"/>
        <input type="hidden" id="block-url" data-url="@Url.Action("Block", "Users", new { area = "Admin"})"/>
    </div> 
</div>
        
       



