﻿@model Bell.Grok.Web.Areas.Admin.ViewModel.UserRoleViewModel

<script type="text/javascript" src="~/Areas/Admin/Scripts/role-editor.js"></script>

<div id="SectorIdValue" data-sector-id-value="@Model.SectorId"></div>
<div id="GetSectorsUrl" data-url="@Url.Action("GetSectors", "Users", new { area = "Admin"})"></div>

<div>    
    <table id="roleSelector">
        <tr>
            <td>Роль</td>       
            <td>                
                @Html.DropDownListFor(model => model.RoleId, Model.AllRoles, new { Name = "UserRole.RoleId", data_role="dropdownlist", data_bind="value: role, events: { change: roleLevelChanged, select: clearDirections }" })
                @Html.HiddenFor(model => model.AccessLevelId, new { data_bind="value: accessLevelId", Name = "UserRole.AccessLevelId" })
            </td>
            <td>Направление</td>
            <td>
                @Html.ListBoxFor(model => model.DirectionIds, Model.AllDirections, new { Name = "UserRole.DirectionIds", multiple="multiple", data_role="multiselect", data_bind="value: directions, disabled: isDirectionsDisabled, events: { change: directionsChanged}", style="width: 200px;" })
            </td>
            <td>Участок</td>
            <td>
                @Html.DropDownListFor(model => model.SectorId, new List<SelectListItem>(), "Выберите участок", new { Name = "UserRole.SectorId", data_role="dropdownlist", data_cascade_from="direction", data_text_field="SectorName", data_value_field="SectorId", data_bind="source: sectorsSource, value: sector, disabled: isSectorsDisabled, events: { dataBound: sectorsDataBound}"})
            </td>            
        </tr>              
    </table>
</div>