﻿@model Bell.Grok.Web.ViewModel.ScheduleTemplateViewModel

@using (Html.BeginForm())
{
    <div id="errors-block" class="row" style="height: 50px">
        <ul></ul>
    </div>
    
    @Html.HiddenFor(model => model.ScheduleTemplateId)
    
    <table class="global-left-indent invisible-table">
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.FullName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.FullName, new {@class = "k-input k-textbox"})
                @Html.ValidationMessageFor(model => model.FullName, null, new { style = "display:none;" })
            </td>
        </tr>
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.BeginDate)                
            </td>
            <td class="label-text-aligment">
                @Html.TextBoxFor(model => model.BeginDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.BeginDate, null, new { style = "display:none;" })
            </td>
        </tr>
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.EndDate)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EndDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.EndDate, null, new { style = "display:none;" })
            </td>
        </tr>        
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.Directions)
            </td>
            <td>
                @Html.ListBoxFor(model => model.Directions, Model.AllDirections, new { @class = "multiSelect" })
            </td>
        </tr>       
        <tr>
            <td class="label-text-aligment">
                @Html.LabelFor(model => model.Sectors)
            </td>
            <td>
                @Html.ListBoxFor(model => model.Sectors, Model.AllSectors, new { @class = "multiSelect" })
            </td>
        </tr>
        <tr>
            <td colspan="2">                
                <input type="button" value="Сохранить" class="save-button k-button button-top-indent button-bottom-indent" data-bind="events: { click: submitButtonHandler }">
                <input type="button" value="Отмена" class="cancel-button k-button button-left-indent button-top-indent button-bottom-indent"/>               
            </td>
        </tr>        
    </table>
}
