﻿@{
    ViewBag.Title = "Index";
}

<h2 class="header-schedule-template">Шаблоны графиков кассиров билетных</h2>

@section Scripts
{
    <script src="~/Scripts/schedule-template-page.js"></script>
    
    <script id="changeColumn" type="text/x-kendo-template">               
        <a href="#=ReviewUrl#">Просмотр</a> 
    </script>
    
    <script id="blockColumn" type="text/x-kendo-template">
        # if(IsActive) { #
            <input type="button" class="k-button" value="Деактивировать" name="schedule-template-deactivate" />    
        # } else { #
            <input type="button" class="k-button" value="Активировать" name="schedule-template-activate" />
        # } #
    </script>
}

<div id="create-url" data-url="@Url.Action("Create", "ScheduleTemplate")"></div>
<div id="edit-url" data-url="@Url.Action("Edit", "ScheduleTemplate")"></div>
<div id="read-url" data-url="@Url.Action("ReadScheduleTemplates", "ScheduleTemplate")"></div>
<div id="active-url" data-url="@Url.Action("ActivateScheduleTemplate", "ScheduleTemplate")"></div>
<div id="deactivate-url" data-url="@Url.Action("DeactivateScheduleTemplate", "ScheduleTemplate")"></div>
<div id="review-url" data-url="@Url.Action("Review", "ScheduleTemplate")"></div>

<div id="global">
    <div id="schedule-template-create-popup" class="parent-window">
        
    </div>

    <form id="action-time-datepicker-container" class="panel-bottom-indent">
        <div class="actual-date-container"> 
            <span>Актуальность шаблона </span><input id="action-time-datepicker" name="ActionTime" value="" />
        </div>   
        <div>
            @Html.RadioButton("ShowByActivity", "All", new {@checked = "checked", @class = "first-show-mode-radio-input"})
            Показывать всё
            @Html.RadioButton("ShowByActivity", "Active")
            Показывать только активные
            @Html.RadioButton("ShowByActivity", "NonActive")
            Показывать только неактивные
        </div>
    </form>

    <div id="schedule-templates-grid" >
    </div>

    <div id="button-panel" class="panel-top-indent">
        <input type="button" value="Добавить" id="add-button" class="k-button"/>
        <input type="button" value="Изменить" id="edit-button" class="k-button k-state-disabled button-left-indent" disabled="disabled"/>
    </div>

    <div id="locations-panel" class="panel-top-indent panel-bottom-indent">
        <div class="span-label-container">
            <span id="locations-span-label" class="span-label">Действует на участки производства</span>
        </div>
        <span id="locations-span" class="span-locations"></span>
    </div>
</div>