﻿@using Bell.Grok.Model
@model Bell.Grok.Model.ScheduleTemplateReviewModel

@{
    ViewBag.Title = "Review";
}

<script src="~/Scripts/schedule-template-review.js"></script>

<div id="read-url" data-url="@Url.Action("ReadScheduleTemplateDetails", "ScheduleTemplate")"></div>

<h2 class="schedule-header">Шаблоны графика кассиров билетных</h2>

<div class="schedule-span-name-container">   
    <span class="schedule-span-name">@Model.Name</span>    
    <div class="schedule-return-url-link">
        <a href="@(Model.ReturnUrl)">Вернуться к списку шаблонов</a>
    </div>
</div>

<div class="schedule-span-name-container"> 
    <span class="schedule-year-span">График работы на @Model.Year год</span>
</div>

@foreach (ScheduleTemplateReviewModeModel obj in Model.Modes)
{
    <div class="mode-number" data-number="@obj.ScheduleTemplateModeId"></div>
    @Html.Partial("ReviewMode", obj)
}
