﻿@model Bell.Grok.Model.ScheduleTemplateReviewModeModel

<div>
    <div class="schedule-mode-span-container">
        <span class="schedule-mode-span">@Model.Name</span>
    </div>
    <div id="schedule-template-detailes-grid-@Model.ScheduleTemplateModeId">        
    </div>
</div>
