﻿@model Bell.Grok.Web.ViewModel.CashierViewModel

@{
    ViewBag.Title = "Карточка кассира";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="DelayInterval" data-delay="500"></div>
<div id="sector-stations-url" data-url="@Url.RouteUrl("CashierGetStationsOnSector")"></div>
<div id="stations-for-priority-url" data-url="@Url.RouteUrl("GetStationsForPriority")"></div>
<div id="create-employee-station-priority-url" data-url="@Url.RouteUrl("CreateEmployeeStationPriority")"></div>
<div id="update-employee-station-priority-url" data-url="@Url.RouteUrl("UpdateEmployeeStationPriority")"></div>
<div id="delete-employee-station-priority-url" data-url="@Url.RouteUrl("DeleteEmployeeStationPriority")"></div>
<div id="station-id" data-id="@Model.StationId"></div>
<div id="sector-id" data-id="@Model.SectorId"></div>
<div id="employee-id" data-id="@Model.EmployeeId"></div>

<h2>Карточка кассира</h2>

<div class="csContainer">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CurrentFilterDate)
        if ((TempData["Message"] != null) && (!string.IsNullOrWhiteSpace(TempData["Message"].ToString())))
        {
        <script>
            Utils.Notification.show('@TempData["Message"]');
        </script>
        }
        <div>
            <span class="message">@TempData["Message"]</span>
            @Html.ValidationSummary(true)
        </div>     
        <div class="csButtonsContainer">
            @if (!(bool)ViewData["ReadOnlyAccess"])
            {
                <input type="submit" value="Сохранить" class="k-button" />        
            }
        </div>
        <div class="csFormContainer">
            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.CurrentDate)

            <div class="csFieldContainer">
                <div class="csLabel">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="csField">
                    @Html.TextBoxFor(model => model.FirstName, new { @readonly = "readonly", @class = "k-input k-textbox k-state-disabled", value1C = Model.FirstName1C })
                </div>
            </div>

            <div class="csFieldContainer">
                <div class="csLabel">
                    @Html.LabelFor(model => model.MiddleName)
                </div>
                <div class="csField">
                    @Html.TextBoxFor(model => model.MiddleName, new { @readonly = "readonly", @class = "k-input k-textbox k-state-disabled", value1C = Model.MiddleName1C })
                </div>
            </div>

            <div class="csFieldContainer">
                <div class="csLabel">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="csField">
                    @Html.TextBoxFor(model => model.LastName, new { @readonly = "readonly", @class = "k-input k-textbox k-state-disabled", value1C = Model.LastName1C })
                </div>
            </div>

            <div class="csFieldContainer">
                <div class="csLabel">
                    @Html.LabelFor(model => model.PersonalNumber)
                </div>
                <div class="csField">
                    @Html.TextBoxFor(model => model.PersonalNumber, new { @readonly = "readonly", @class = "k-input k-textbox k-state-disabled" })
                </div>
            </div>
        </div>

        <div id="tabStrip">
            <ul>
                <li class="k-state-active">Общие данные</li>
                <li>Ограничения</li>
                <li class="priority-li">Приоритеты</li>
            </ul>
            <div>
                <div class="csLeftColumn">
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.Rate)
                        </div>
                        <div class="csField">
                            @Html.TextBoxFor(model => model.Rate, new { @class = "numericRate" + ((Model.Rate1C != Model.Rate) ? " csMismatch" : ""), value1C = Model.Rate1C })
                            @Html.ValidationMessageFor(model => model.Rate, null, new { style = "display:none;" })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.PositionId)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.PositionId, new SelectList((IEnumerable<Bell.Grok.Model.PositionModel>)ViewData["Positions"], "PositionId", "PositionName"), new { @class = "position-width ddList" + ((Model.Position1С != Model.Position) ? " csMismatch" : ""), value1C = Model.Position1С })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.SpecializationIds)
                        </div>
                        <div class="csField">
                            @Html.ListBoxFor(model => model.SpecializationIds, new SelectList((IEnumerable<Bell.Grok.Model.SpecializationModel>)ViewData["Specializations"], "SpecializationId", "SpecializationName"), new { @class = "multiSelect" })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.SectorId)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.SectorId, new SelectList((IEnumerable<Bell.Grok.Model.SectorModel>)ViewData["Sectors"], "SectorId", "SectorName"), new { @class = "ddList" + ((Model.SectorId1C != Model.SectorId) ? " csMismatch" : ""), value1C = Model.SectorName1C })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.StationId)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.StationId, new SelectList((IEnumerable<SelectListItem>)ViewData["Stations"], "Value", "Text"), "--Не определено--", new { @class = "position-width", disabled = "disabled" })                            
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.ContractEffectiveFrom)
                        </div>
                        <div class="csField">
                            @Html.TextBoxFor(model => model.ContractEffectiveFrom, new { @class = "datePicker" + ((Model.ContractEffectiveFrom1C != Model.ContractEffectiveFrom) ? " csMismatch" : ""), value1C = Model.ContractEffectiveFrom1C })
                            @Html.ValidationMessageFor(model => model.ContractEffectiveFrom, null, new { style = "display:none;" })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.ContractEffectiveTo)
                        </div>
                        <div class="csField">
                            @Html.TextBoxFor(model => model.ContractEffectiveTo, new { @class = "datePicker" + ((Model.ContractEffectiveTo1C != Model.ContractEffectiveTo) ? " csMismatch" : ""), value1C = Model.ContractEffectiveTo1C })
                            @Html.ValidationMessageFor(model => model.ContractEffectiveTo, null, new { style = "display:none;" })
                        </div>
                    </div>
                </div>
                <div class="csRightColumn">
                    <div id="csVacations">
                        <div id="csVacationsGrid"></div>
                        @if (!(bool)ViewData["ReadOnlyAccess"])
                        {
                            <div id="csNewVacation">
                                <table class="invisible-table">
                                    <tr>
                                        <td>Отпуск с
                                        </td>
                                        <td>
                                            <input type="text" data-bind="value: beginDate" id="csVacationStartTbx" data-role="datepicker" />
                                            по
                                <input type="text" data-bind="value: endDate" id="csVacationEndTbx" data-role="datepicker" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Примечание
                                        </td>
                                        <td>
                                            <input type="text" id="csVacationNoteTbx" data-bind="value: comment" data-role="" class="k-textbox" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button id="Add" data-bind="click: add" class="k-button" type="button">Добавить</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div>
                <div class="csLeftColumn">
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.MaximumHoursPerWeek)
                        </div>
                        <div class="csField">
                            @Html.TextBoxFor(model => model.MaximumHoursPerWeek, new { @class = "numeric ignore-validation", min = 0, max = 40 })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.MaximumShiftLength)
                        </div>
                        <div class="csField">
                            @Html.TextBoxFor(model => model.MaximumShiftLength, new { @class = "numeric ignore-validation", min = 0, max = 12 })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.ProfessionalLevelIds)
                        </div>
                        <div class="csField">
                            @Html.ListBoxFor(model => model.ProfessionalLevelIds, new SelectList((IEnumerable<Bell.Grok.Model.ProfessionalLevelModel>)ViewData["ProfessionalLevels"], "ProfessionalLevelId", "ProfessionalLevelName"), new { @class = "multiSelect" })
                        </div>
                    </div>
                </div>
                <div class="csRightColumn">
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.IsNighttimeAccepted)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.IsNighttimeAccepted, (SelectList)ViewData["boolDropDownDataSource"], new { @class = "ddList" })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.IsOvertimeAccepted)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.IsOvertimeAccepted, (SelectList)ViewData["boolDropDownDataSource"], new { @class = "ddList" })
                        </div>
                    </div>
                    <div class="csFieldContainer">
                        <div class="csLabel">
                            @Html.LabelFor(model => model.IsHolidayAccepted)
                        </div>
                        <div class="csField">
                            @Html.DropDownListFor(model => model.IsHolidayAccepted, (SelectList)ViewData["boolDropDownDataSource"], new { @class = "ddList" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="priority-tab">
                <div id="stationPriorityUrl" data-url="@Url.Action("GetStationPriorities", "Cashier")"></div>
                <div id="pickUpStationPriorityUrl" data-url="@Url.Action("PickUpStationPriority", "Cashier")"></div>
                <div id="pickDownStationPriorityUrl" data-url="@Url.Action("PickDownStationPriority", "Cashier")"></div>
                <div id="updatePriorityIntervalsUrl" data-url="@Url.Action("UpdatePriorityIntervals", "Cashier")"></div>
                <div id="timeIntervalsForStationPriorityUrl" data-url="@Url.Action("GetTimeIntervalsForStationPriority", "Cashier")"></div>
                <div id="timeIntervalsForWindowUrl" data-url="@Url.Action("GetTimeIntervalsForWindow", "Cashier")"></div>
                <div id="deleteIntervalsForPriorityUrl" data-url="@Url.Action("DeleteIntervalsForPriority", "Cashier")"></div>
                <div id="currentSelectedRowId" data-row-id="-1"></div>
                
                <div id="priority-create-popup" style="display: none">                    
                    <div class="priority-create-popup-section">
                        <label>Станции</label>
                        <input id="stations-for-priority" />
                    </div>
                    <div class="priority-create-popup-section">
                        <label>Время в пути</label>
                        <input id="priority-transfer-time" type="number"/>
                    </div>                    
                    <div id="priority-create-popup-buttons-container" class="priority-create-popup-section">
                        <input id="add-priority" type="button" class="k-button" value="Сохранить" data-bind="events: {click: addPriority}"/>
                        <input id="add-priority-cancel" type="button" class="k-button button-left-indent" value="Отмена" data-bind="events: {click: addPriorityCancel}"/>
                    </div>
                </div>

                <div id="priority-edit-popup" style="display: none">
                    @Html.Hidden("StationPriorityID")

                    <div class="priority-time-period-panel" id="daily-panel">
                        <fieldset>
                            <legend>@Html.Label("Ежедневно")</legend>
                            <input type="radio" name="work-time-type" value="daily" data-bind="events: {click: windowPriorityViewModel.dailyChanged}" checked>
                            <div class="priority-time-interval">
                                <input id="daily-timepicker-begin" name="DailyBegin" class="lower-limit" data-role="timepicker" />
                                <span>-</span>
                                <input id="daily-timepicker-end" name="DailyEnd" class="upper-limit" data-role="timepicker" />
                                <span class="error-message"></span>
                            </div>
                        </fieldset>
                    </div>

                    <div class="priority-time-period-panel" id="week-parts-panel">
                        <fieldset>
                            <legend>@Html.Label("Отрезки недели")</legend>
                            <input type="radio" name="work-time-type" value="week-parts" data-bind="events: {click: windowPriorityViewModel.weekPartsChanged}">

                            <table class="invisible-table">
                                <tr>
                                    <td>
                                        @Html.Label("Рабочие дни")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="work-days-timepicker-begin" name="WorkDaysBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="work-days-timepicker-end" name="WorkDaysEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Выходные дни")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="weekend-timepicker-begin" name="WeekendBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="weekend-timepicker-end" name="WeekendEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <div class="priority-time-period-panel" id="optionally-panel">
                        <fieldset>
                            <legend>@Html.Label("Опционально")</legend>
                            <input type="radio" name="work-time-type" value="optionally" data-bind="events: {click: windowPriorityViewModel.optionallyChanged}">
                            <table class="invisible-table">
                                <tr>
                                    <td>
                                        @Html.Label("Понедельник")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="monday-timepicker-begin" name="MondayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="monday-timepicker-end" name="MondayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Вторник")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="tuesday-timepicker-begin" name="TuesdayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="tuesday-timepicker-end" name="TuesdayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Среда")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="wednesday-timepicker-begin" name="WednesdayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="wednesday-timepicker-end" name="WednesdayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Четверг")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="thursday-timepicker-begin" name="ThursdayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="thursday-timepicker-end" name="ThursdayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Пятница")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="friday-timepicker-begin" name="FridayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="friday-timepicker-end" name="FridayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Суббота")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="saturday-timepicker-begin" name="SaturdayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="saturday-timepicker-end" name="SaturdayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label("Воскресенье")
                                    </td>
                                    <td>
                                        <div class="priority-time-interval">
                                            <input id="sunday-timepicker-begin" name="SundayBegin" class="lower-limit" data-role="timepicker" disabled="disabled" />
                                            <span>-</span>
                                            <input id="sunday-timepicker-end" name="SundayEnd" class="upper-limit" data-role="timepicker" disabled="disabled" />
                                            <span class="error-message"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <input type="button" value="Сохранить" class="k-button" data-bind="events: { click: windowPriorityViewModel.saveButtonHandler}" />

                </div>
                
                <div id="create-priority-button-container">
                    <input id="create-priority-button" type="button" class="k-button" value="Создать приоритет" data-bind="events: {click: createPriority}"/>
                </div>
                <div id="csStationPriorityGrid"></div>
                <div id="no-prioritets-span-container" style="display: none">
                    <span id="no-prioritets-span">Отсутствуют приоритеты станции для данного кассира</span>
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    <script src="~/Scripts/cashier.js" type="text/javascript"></script>
    @if ((bool)ViewData["ReadOnlyAccess"])
    {
        <style type="text/css">
            input[type=button], .k-button {
                display: none;
            }
        </style>    
    }
}

<script type="text/javascript">
    var employeeId = @Model.EmployeeId;    
</script>

<script id="editColumn" type="text/x-kendo-template">    
    <input type="button" class="button_edit" value="" title="Редактировать" alt="Редактировать" name="station-priority-button" id="priority-#: Id #" stationName="#: StationName#" data-bind="events: { click: editPriority }"/>        
    <input type="button" class="button_delete" value="" title="Удалить" alt="Редактировать" name="station-priority-button" id="priority-delete-#: Id #" stationName="#: StationName#" data-bind="events: { click: deletePriority }">
    <input type="button" class="button_up" value="" title="Повысить приоритет" alt="Повысить приоритет" name="station-priority-button" id="priority-up-#: Id #" data-bind="events: { click: stationPriorityUp }"/>
    <input type="button" class="button_down" value="" title="Понизить приоритет" alt="Понизить приоритет" name="station-priority-button" id="priority-up-#: Id #" data-bind="events: { click: stationPriorityDown }"/>    
    # if(HasIntervals) { #
        <input type="button" class="button_remove_intervals" value="" title="Удалить интервалы" alt="Удалить интервалы" name="station-priority-button" id="priority-delete-intervals-#: Id #" data-bind="events: { click: eraseTimeIntervalsForPriority }"> 
    # } else { #
            
    # } #
</script>

@if ((bool)ViewData["ReadOnlyAccess"])
{
    <script type="text/javascript">
        $("form input, form select").attr("disabled", "disabled");
    </script>
}